/**
 * @file
 * Block Styling
 */
@font-face {
  font-family: 'OPTISport-Script';
  src: url("fonts/optispos.eot");
  src: url("fonts/optispos.eot?#iefix") format("embedded-opentype"), url("fonts/optispos.woff") format("woff"), url("fonts/optispos.ttf") format("truetype"), url("fonts/optispos.svg#optisport-scriptscript") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*Custom Mixins*/
/* line 9, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 0.5em;
}
/* line 12, ../sass/blocks.scss */
.block.first {
  /* The first block in the region */
}
/* line 15, ../sass/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 18, ../sass/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 21, ../sass/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 24, ../sass/blocks.scss */
.block h2.block-title {
  /* Block title */
  font-size: 1.1em;
  line-height: 1.36364em;
}
/* line 27, ../sass/blocks.scss */
.block p {
  font-size: 0.8em;
  line-height: 1.5625em;
  line-height: 1em;
}

/* line 31, ../sass/blocks.scss */
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

/* line 34, ../sass/blocks.scss */
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

/* line 37, ../sass/blocks.scss */
#block-block-1 {
  /* First block created with "Add block" link */
}

/* line 40, ../sass/blocks.scss */
#block-blog-recent {
  /* "Recent blog posts" block */
}

/* line 43, ../sass/blocks.scss */
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

/* line 46, ../sass/blocks.scss */
#block-comment-recent {
  /* "Recent comments" block */
}

/* line 49, ../sass/blocks.scss */
#block-forum-active {
  /* "Active forum topics" block */
}

/* line 52, ../sass/blocks.scss */
#block-forum-new {
  /* "New forum topics" block */
}

/* line 55, ../sass/blocks.scss */
#block-locale-language {
  /* Language switcher block */
}

/* line 58, ../sass/blocks.scss */
#block-menu-menu-NAME {
  /* Custom menu block */
}

/* line 61, ../sass/blocks.scss */
#block-node-recent {
  /* "Recent content" block */
}

/* line 64, ../sass/blocks.scss */
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

/* line 67, ../sass/blocks.scss */
#block-poll-recent {
  /* "Most recent poll" block */
}

/* line 70, ../sass/blocks.scss */
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

/* line 73, ../sass/blocks.scss */
#block-search-form {
  /* "Search form" block */
}

/* line 76, ../sass/blocks.scss */
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

/* line 79, ../sass/blocks.scss */
#block-statistics-popular {
  /* "Popular content" block */
}

/* line 82, ../sass/blocks.scss */
#block-system-main-menu {
  /* "Main menu" block */
}

/* line 85, ../sass/blocks.scss */
#block-system-management {
  /* "Management" block for Drupal management menu */
}

/* line 88, ../sass/blocks.scss */
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}

/* line 91, ../sass/blocks.scss */
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

/* line 94, ../sass/blocks.scss */
#block-system-help {
  /* "System help" block */
}

/* line 97, ../sass/blocks.scss */
#block-system-main {
  /* "Main page content" block */
}

/* line 100, ../sass/blocks.scss */
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

/* line 103, ../sass/blocks.scss */
#block-user-login {
  /* "User login form" block */
}

/* line 106, ../sass/blocks.scss */
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

/* line 109, ../sass/blocks.scss */
#block-user-online {
  /* "Who's online" block for a list of the online users */
}

/* line 113, ../sass/blocks.scss */
#logo {
  /* The name of the website */
  width: 37.5%;
  float: left;
  margin-right: 4.16667%;
}
/* line 115, ../sass/blocks.scss */
#logo h1 {
  font-size: 2em;
  line-height: 1.4em;
  background: url("../images/wrapper/divine-chocolate.png") no-repeat;
  text-indent: -10000px;
  background-size: contain;
  height: 45px;
  margin: 0.25em 0 0 0;
}
/* line 124, ../sass/blocks.scss */
#logo h1 a:link,
#logo h1 a:visited {
  color: #000;
  text-decoration: none;
  display: block;
  height: 100%;
}
/* line 131, ../sass/blocks.scss */
#logo h1 a:hover,
#logo h1 a:focus {
  text-decoration: underline;
}
@media (min-width: 20em) {
  /* line 137, ../sass/blocks.scss */
  #logo h1 {
    height: 50px;
    margin: 0.25em 0 0.25em 0;
  }
}
@media (min-width: 32em) {
  /* line 113, ../sass/blocks.scss */
  #logo {
    width: 28.57143%;
    float: left;
    margin-right: 2.04082%;
  }
  /* line 143, ../sass/blocks.scss */
  #logo h1 {
    height: 95px;
    margin-bottom: 1.5em;
  }
}
@media (min-width: 49em) {
  /* line 113, ../sass/blocks.scss */
  #logo {
    width: 38.77551%;
    float: left;
    margin-right: 2.04082%;
  }
  /* line 150, ../sass/blocks.scss */
  #logo h1 {
    margin: 0.5em 0;
  }
}

/* line 161, ../sass/blocks.scss */
.js #block-search-form,
.js #block-block-9,
.js #block-block-4,
.js #block-block-9,
.js .region-nav {
  display: none;
}
@media (min-width: 32em) {
  /* line 161, ../sass/blocks.scss */
  .js #block-search-form,
  .js #block-block-9,
  .js #block-block-4,
  .js #block-block-9,
  .js .region-nav {
    display: block;
  }
}
@media (min-width: 32em) {
  /* line 167, ../sass/blocks.scss */
  .js #block-block-10, .js #block-block-38 {
    display: none;
  }
}

/* line 174, ../sass/blocks.scss */
#block-block-10, #block-block-38 {
  width: 35px;
  height: 35px;
  padding: 2px 6px;
  float: right;
  margin-bottom: 0.5em;
  border: #b39f69 1px solid;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 182, ../sass/blocks.scss */
#block-block-10 p, #block-block-38 p {
  width: 100%;
  height: 100%;
  margin: 0;
}
/* line 183, ../sass/blocks.scss */
#block-block-10 a, #block-block-38 a {
  text-indent: -1000%;
  overflow: hidden;
  background: url("../images/wrapper/mobile-menu.png") no-repeat;
  background-size: contain;
  display: block;
  height: 100%;
  width: 100%;
}

/* line 197, ../sass/blocks.scss */
.mobile #block-search-form,
.mobile #block-block-4,
.mobile #block-block-9,
#block-block-9 {
  padding: 0.5em;
}

/* line 201, ../sass/blocks.scss */
#block-search-form {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px #b39f69 solid;
  color: #b39f69;
  margin-bottom: 0.5em;
}
/* line 206, ../sass/blocks.scss */
#block-search-form form {
  margin-top: 0;
}
/* line 207, ../sass/blocks.scss */
#block-search-form p {
  font-size: 0.75em;
  line-height: 1.33333em;
}
/* line 210, ../sass/blocks.scss */
#block-search-form label {
  width: 100%;
  text-align: center;
  text-transform: none;
  line-height: 1.5em;
  display: block;
}
/* line 215, ../sass/blocks.scss */
#block-search-form input.form-text {
  font-family: "Avenir LT W01 65 Medium", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  line-height: 1.5em;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-weight: normal;
  text-align: center;
  width: 100%;
  display: block;
  padding: 0;
}
/* line 228, ../sass/blocks.scss */
#block-search-form .form-actions {
  display: none;
}
@media (min-width: 32em) {
  /* line 201, ../sass/blocks.scss */
  #block-search-form {
    margin-bottom: 0;
  }
  /* line 232, ../sass/blocks.scss */
  #block-search-form label {
    text-indent: 7px;
    text-align: left;
    max-width: 5.4em;
  }
  /* line 233, ../sass/blocks.scss */
  #block-search-form input.form-text {
    width: 5.4em;
    text-align: left;
  }
  /* line 237, ../sass/blocks.scss */
  #block-search-form .form-type-textfield {
    float: right;
    margin: 0;
  }
  /* line 242, ../sass/blocks.scss */
  #block-search-form .form-actions {
    display: inline-block;
    position: relative;
    float: left;
    top: 2px;
    left: 1em;
    background-image: none;
  }
  /* line 251, ../sass/blocks.scss */
  #block-search-form .form-actions input.form-submit {
    background: transparent;
    border: none;
    outline: none;
    background-image: url("../images/wrapper/icons.png");
    background-repeat: no-repeat;
    background-position: center -25px;
    width: 18px;
    height: 18px;
    text-indent: 400%;
    white-space: nowrap;
    overflow: hidden;
  }
  /* line 264, ../sass/blocks.scss */
  #block-search-form:hover {
    border: 1px white solid;
    color: white;
  }
  /* line 267, ../sass/blocks.scss */
  #block-search-form:hover .form-actions input.form-submit {
    background-position: center -101px;
  }
}

/* line 276, ../sass/blocks.scss */
#block-block-4, #block-block-9 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px #b39f69 solid;
  color: #b39f69;
  text-align: center;
  cursor: pointer;
}
/* line 282, ../sass/blocks.scss */
#block-block-4:hover, #block-block-9:hover {
  border: 1px white solid;
}
/* line 284, ../sass/blocks.scss */
#block-block-4:hover p a, #block-block-9:hover p a, #block-block-4:hover p a:hover, #block-block-9:hover p a:hover {
  color: white;
  text-decoration: none;
}
/* line 286, ../sass/blocks.scss */
#block-block-4 .line-item-summary, #block-block-9 .line-item-summary {
  margin: 0;
}
/* line 287, ../sass/blocks.scss */
#block-block-4 .line-item-summary .line-item-quantity, #block-block-9 .line-item-summary .line-item-quantity {
  float: none;
  text-align: center;
}
/* line 291, ../sass/blocks.scss */
#block-block-4 .inline, #block-block-9 .inline {
  text-align: center;
  display: block;
  margin: 0;
}
/* line 296, ../sass/blocks.scss */
#block-block-4 p, #block-block-9 p {
  margin: 0;
  font-size: 1em;
  line-height: 1.25em;
  line-height: 1.5em;
}
/* line 298, ../sass/blocks.scss */
#block-block-4 p a, #block-block-9 p a {
  color: #b39f69;
}
@media (min-width: 32em) {
  /* line 304, ../sass/blocks.scss */
  #block-block-4 > p, #block-block-9 > p {
    background-image: url("../images/wrapper/icons.png");
    background-repeat: no-repeat;
    background-position: 6px 2px;
    text-indent: 21px;
  }
  /* line 310, ../sass/blocks.scss */
  #block-block-4:hover > p, #block-block-9:hover > p {
    background-position: 6px -74px;
  }
}

/* line 319, ../sass/blocks.scss */
.admin-menu #block-commerce-cart-cart {
  top: 6.3em;
}

/* line 322, ../sass/blocks.scss */
#block-commerce-cart-cart {
  top: 4.8em;
  padding: 0;
  max-width: 22em;
  width: 100%;
  height: auto;
  position: absolute;
  margin-left: 21.5em;
  margin-top: 0;
  display: none;
  z-index: 10;
}
/* line 333, ../sass/blocks.scss */
#block-commerce-cart-cart .cart-contents, #block-commerce-cart-cart .cart-empty-block {
  background: url("../images/symbols/arrow-up.png") no-repeat top center;
  padding-top: 2em;
}
/* line 337, ../sass/blocks.scss */
#block-commerce-cart-cart .cart-contents .view-commerce-cart-block, #block-commerce-cart-cart .cart-empty-block .view-commerce-cart-block {
  color: black;
  background: white;
  -webkit-box-shadow: #58595b -2px 2px 2px;
  -moz-box-shadow: #58595b -2px 2px 2px;
  box-shadow: #58595b -2px 2px 2px;
  z-index: 9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 344, ../sass/blocks.scss */
#block-commerce-cart-cart .cart-contents .views-row, #block-commerce-cart-cart .cart-empty-block .views-row {
  border-bottom: 1px dashed #a39161;
  padding: 1.5em 0;
  clear: both;
  width: 100%;
  float: right;
  margin-right: 0;
}
/* line 349, ../sass/blocks.scss */
#block-commerce-cart-cart .cart-contents .views-row .views-field-field-image, #block-commerce-cart-cart .cart-empty-block .views-row .views-field-field-image {
  width: 18.36735%;
  float: left;
  margin-right: 2.04082%;
}
/* line 351, ../sass/blocks.scss */
#block-commerce-cart-cart .cart-contents .views-row .views-field-field-image img, #block-commerce-cart-cart .cart-empty-block .views-row .views-field-field-image img {
  padding-left: 1em;
}
/* line 353, ../sass/blocks.scss */
#block-commerce-cart-cart .cart-contents .views-row .views-field-line-item-title, #block-commerce-cart-cart .cart-empty-block .views-row .views-field-line-item-title {
  width: 79.59184%;
  float: right;
  margin-right: 0;
  text-align: left;
  font-size: 1em;
  line-height: 1.25em;
}
/* line 357, ../sass/blocks.scss */
#block-commerce-cart-cart .cart-contents .views-row .views-field-line-item-title div, #block-commerce-cart-cart .cart-empty-block .views-row .views-field-line-item-title div {
  padding-left: 1em;
}
/* line 358, ../sass/blocks.scss */
#block-commerce-cart-cart .cart-contents .views-row .views-field-line-item-title .cart-title, #block-commerce-cart-cart .cart-empty-block .views-row .views-field-line-item-title .cart-title {
  color: #793f0d;
  padding-right: 1em;
}
/* line 359, ../sass/blocks.scss */
#block-commerce-cart-cart .cart-contents .views-row .views-field-line-item-title .cart-quantity, #block-commerce-cart-cart .cart-empty-block .views-row .views-field-line-item-title .cart-quantity {
  color: #b39f69;
}
/* line 360, ../sass/blocks.scss */
#block-commerce-cart-cart .cart-contents .views-row .views-field-line-item-title .cart-line-total, #block-commerce-cart-cart .cart-empty-block .views-row .views-field-line-item-title .cart-line-total {
  color: #58595b;
  font-family: "Avenir LT W01 65 Medium", Helvetica, Arial, "Nimbus Sans L", sans-serif;
}
/* line 363, ../sass/blocks.scss */
#block-commerce-cart-cart .cart-contents .view-footer, #block-commerce-cart-cart .cart-empty-block .view-footer {
  clear: both;
}
/* line 365, ../sass/blocks.scss */
#block-commerce-cart-cart .cart-contents .view-footer .line-item-summary-checkout a, #block-commerce-cart-cart .cart-empty-block .view-footer .line-item-summary-checkout a {
  font-family: "Avenir LT W01 95 Black", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  text-transform: uppercase;
  color: white;
  background: #a39161;
  padding: 0.5em 1.25em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  margin: 1em;
  display: inline-block;
}
/* line 369, ../sass/blocks.scss */
#block-commerce-cart-cart .cart-contents .view-footer .line-item-summary, #block-commerce-cart-cart .cart-empty-block .view-footer .line-item-summary {
  margin-bottom: 0;
}
/* line 372, ../sass/blocks.scss */
#block-commerce-cart-cart .cart-empty-block {
  background: black;
  width: auto;
  margin-top: 0em;
  padding: 1em;
}

/**
 * Facebook button
 */
/* line 384, ../sass/blocks.scss */
#block-block-8 {
  border: 1px #b39f69 solid;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: url("../images/wrapper/icons.png") no-repeat 4px -48px;
  padding: 0 0 0 2em;
  width: auto;
  height: auto;
}
/* line 391, ../sass/blocks.scss */
#block-block-8 p {
  margin: 0;
  font-size: 1em;
  line-height: 1.25em;
  line-height: 1.6em;
  border-left: 2px #b39f69 solid;
  padding: 0;
}
/* line 395, ../sass/blocks.scss */
#block-block-8 p a {
  display: block;
  padding: 0.4em 0.75em;
  color: #b39f69;
}

/**
 * Checkout progress bar
 */
/* line 409, ../sass/blocks.scss */
#block-block-33 {
  font-size: 0.9em;
  line-height: 1.38889em;
}
/* line 411, ../sass/blocks.scss */
#block-block-33 ol {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
/* line 415, ../sass/blocks.scss */
#block-block-33 ol li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  border-right: 1px #793f0d solid;
  float: left;
  padding: 0.75em;
  background: #e6e6e6;
  color: #58595b;
}
/* line 423, ../sass/blocks.scss */
#block-block-33 ol li:last-of-type {
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-right: none;
}
/* line 428, ../sass/blocks.scss */
#block-block-33 ol li:first-of-type {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* line 437, ../sass/blocks.scss */
.section-cart
#block-block-33 ol li.cart {
  background: #12ad2b;
  color: white;
  font-family: "Avenir LT W01 95 Black", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  text-transform: uppercase;
}

/* line 447, ../sass/blocks.scss */
.page-checkout
#block-block-33 ol li.delivery {
  background: #12ad2b;
  color: white;
  font-family: "Avenir LT W01 95 Black", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  text-transform: uppercase;
}
/* line 453, ../sass/blocks.scss */
.page-checkout
#block-block-33 ol .cart {
  background: #a39161;
  color: white;
}

/* line 461, ../sass/blocks.scss */
.page-checkout.page-checkout-shipping
#block-block-33 ol li.shipping {
  background: #12ad2b;
  color: white;
  font-family: "Avenir LT W01 95 Black", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  text-transform: uppercase;
}
/* line 467, ../sass/blocks.scss */
.page-checkout.page-checkout-shipping
#block-block-33 ol .cart, .page-checkout.page-checkout-shipping
#block-block-33 ol .delivery {
  background: #a39161;
  color: white;
  font-family: "Avenir LT W01 65 Medium", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  text-transform: none;
}

/* line 478, ../sass/blocks.scss */
.page-checkout.page-checkout-complete
#block-block-33 ol li {
  background: #a39161;
  color: white;
  font-family: "Avenir LT W01 65 Medium", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  text-transform: none;
}

/**
 * Checkout Site Secure
 */
/* line 493, ../sass/blocks.scss */
#block-block-35 {
  background: url("../images/symbols/secure.png") no-repeat;
  background-size: contain;
  width: 100%;
  height: 23em;
  text-indent: -100%;
  overflow: hidden;
}

/**
 * large button styles
 */
/* line 509, ../sass/blocks.scss */
.view-large-button-queues .views-row {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 0.7em;
}
/* line 513, ../sass/blocks.scss */
.view-large-button-queues .views-row a {
  display: block;
}
/* line 514, ../sass/blocks.scss */
.view-large-button-queues .views-row img {
  width: 100%;
  margin-bottom: -3px;
}
/* line 515, ../sass/blocks.scss */
.view-large-button-queues .views-row .views-field-title {
  position: relative;
  top: -1em;
  margin-bottom: -1em;
}
/* line 519, ../sass/blocks.scss */
.view-large-button-queues .views-row .views-field-title a {
  color: white;
  font-family: "Avenir LT W01 65 Medium", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 0.85em;
  line-height: 1.47059em;
  line-height: 1em;
  padding: 0.75em 1em 0.8em 2em;
  position: relative;
}
/* line 65, ../sass/_custom.scss */
.view-large-button-queues .views-row .views-field-title a:after {
  width: 0;
  height: 0;
  border-radius: 2px;
  border: solid transparent;
  content: " ";
  position: absolute;
  pointer-events: none;
  border-left-color: white;
  border-width: 0.4em;
  margin-left: 0.4em;
  bottom: 0.9em;
}
/* line 527, ../sass/blocks.scss */
.view-large-button-queues .views-row .views-field-title .views-field-title-inner {
  background-color: #f1ab00;
}
/* line 529, ../sass/blocks.scss */
.view-large-button-queues .views-row .views-field-title .views-field-title-inner.good-stuff {
  background-color: #00aeef;
}
/* line 530, ../sass/blocks.scss */
.view-large-button-queues .views-row .views-field-title .views-field-title-inner.shop {
  background-color: #00aeef;
}
/* line 531, ../sass/blocks.scss */
.view-large-button-queues .views-row .views-field-title .views-field-title-inner.recipes {
  background-color: #db0c41;
}
/* line 534, ../sass/blocks.scss */
.view-large-button-queues .views-row:hover, .view-large-button-queues .views-row:focus {
  -webkit-box-shadow: 0px 0px 5px #58595b;
  -moz-box-shadow: 0px 0px 5px #58595b;
  box-shadow: 0px 0px 5px #58595b;
}
/* line 536, ../sass/blocks.scss */
.view-large-button-queues .views-row:hover .views-field-title-inner, .view-large-button-queues .views-row:focus .views-field-title-inner {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjBweCIgY3k9IjBweCIgcj0iMTUwIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZjMDI1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjFhYjAwIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(radial, 0px 0px, 0, 0px 0px, 150, color-stop(0%, #ffc025), color-stop(100%, #f1ab00));
  background-image: -webkit-radial-gradient(0px 0px, elipse cover, #ffc025 0%, #f1ab00 150px);
  background-image: -moz-radial-gradient(0px 0px, elipse cover, #ffc025 0%, #f1ab00 150px);
  background-image: -o-radial-gradient(0px 0px, elipse cover, #ffc025 0%, #f1ab00 150px);
  background-image: radial-gradient(0px 0px, elipse cover, #ffc025 0%, #f1ab00 150px);
}
/* line 538, ../sass/blocks.scss */
.view-large-button-queues .views-row:hover .views-field-title-inner.good-stuff, .view-large-button-queues .views-row:focus .views-field-title-inner.good-stuff {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjBweCIgY3k9IjBweCIgcj0iMTUwIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMjNjM2ZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDBhZWVmIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(radial, 0px 0px, 0, 0px 0px, 150, color-stop(0%, #23c3ff), color-stop(100%, #00aeef));
  background-image: -webkit-radial-gradient(0px 0px, elipse cover, #23c3ff 0%, #00aeef 150px);
  background-image: -moz-radial-gradient(0px 0px, elipse cover, #23c3ff 0%, #00aeef 150px);
  background-image: -o-radial-gradient(0px 0px, elipse cover, #23c3ff 0%, #00aeef 150px);
  background-image: radial-gradient(0px 0px, elipse cover, #23c3ff 0%, #00aeef 150px);
}
/* line 539, ../sass/blocks.scss */
.view-large-button-queues .views-row:hover .views-field-title-inner.shop, .view-large-button-queues .views-row:focus .views-field-title-inner.shop {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjBweCIgY3k9IjBweCIgcj0iMTUwIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMTdkYjM2Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTJhZDJiIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(radial, 0px 0px, 0, 0px 0px, 150, color-stop(0%, #17db36), color-stop(100%, #12ad2b));
  background-image: -webkit-radial-gradient(0px 0px, elipse cover, #17db36 0%, #12ad2b 150px);
  background-image: -moz-radial-gradient(0px 0px, elipse cover, #17db36 0%, #12ad2b 150px);
  background-image: -o-radial-gradient(0px 0px, elipse cover, #17db36 0%, #12ad2b 150px);
  background-image: radial-gradient(0px 0px, elipse cover, #17db36 0%, #12ad2b 150px);
}
/* line 540, ../sass/blocks.scss */
.view-large-button-queues .views-row:hover .views-field-title-inner.recipes, .view-large-button-queues .views-row:focus .views-field-title-inner.recipes {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjBweCIgY3k9IjBweCIgcj0iMTUwIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjMyNzViIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZGIwYzQxIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(radial, 0px 0px, 0, 0px 0px, 150, color-stop(0%, #f3275b), color-stop(100%, #db0c41));
  background-image: -webkit-radial-gradient(0px 0px, elipse cover, #f3275b 0%, #db0c41 150px);
  background-image: -moz-radial-gradient(0px 0px, elipse cover, #f3275b 0%, #db0c41 150px);
  background-image: -o-radial-gradient(0px 0px, elipse cover, #f3275b 0%, #db0c41 150px);
  background-image: radial-gradient(0px 0px, elipse cover, #f3275b 0%, #db0c41 150px);
}
/* line 541, ../sass/blocks.scss */
.view-large-button-queues .views-row:hover .views-field-title-inner a, .view-large-button-queues .views-row:focus .views-field-title-inner a {
  text-decoration: none;
}
@media (min-width: 32em) {
  /* line 549, ../sass/blocks.scss */
  .view-large-button-queues.spread .views-row {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
  }
  /* line 551, ../sass/blocks.scss */
  .view-large-button-queues.spread .views-row.views-row-even {
    float: right;
    margin-right: 0;
  }
}

/* line 557, ../sass/blocks.scss */
.front .view-large-button-queues .views-row .views-field-title a {
  text-transform: uppercase;
  font-family: "Avenir LT W01 95 Black", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  padding: 0.5em 1.5em;
  font-size: 1em;
  line-height: 1.25em;
  position: relative;
  letter-spacing: 1px;
}
/* line 65, ../sass/_custom.scss */
.front .view-large-button-queues .views-row .views-field-title a:after {
  width: 0;
  height: 0;
  border-radius: 2px;
  border: solid transparent;
  content: " ";
  position: absolute;
  pointer-events: none;
  border-left-color: white;
  border-width: 0.4em;
  margin-left: 0.4em;
  bottom: 0.75em;
}

/**
 * Small button styles
 */
/* line 574, ../sass/blocks.scss */
.view-sidebar-blocks .views-row {
  font-size: 0.75em;
  line-height: 1.33333em;
  margin-bottom: 0.5em;
  line-height: 0;
}
/* line 578, ../sass/blocks.scss */
.view-sidebar-blocks .views-row a {
  display: block;
}
/* line 580, ../sass/blocks.scss */
.view-sidebar-blocks .views-row a img {
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 586, ../sass/blocks.scss */
.view-sidebar-blocks.show-border {
  padding-top: 0.75em;
}
/* line 588, ../sass/blocks.scss */
.view-sidebar-blocks.show-border .views-row img {
  border: 1px #dbd4c2 solid;
}

/* line 596, ../sass/blocks.scss */
.view-author-block .views-field-field-author-image img, .view-quote-sidebar .views-field-field-author-image img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 599, ../sass/blocks.scss */
.view-author-block .views-field-title, .view-quote-sidebar .views-field-title {
  font-weight: normal;
  font-family: "Avenir LT W01 65 Medium", Helvetica, Arial, "Nimbus Sans L", sans-serif;
}
/* line 600, ../sass/blocks.scss */
.view-author-block .views-field-title .views-label-title, .view-quote-sidebar .views-field-title .views-label-title {
  font-family: "Georgia W01 Italic", Georgia, "Times New Roman", "DejaVu Serif", serif;
}
/* line 601, ../sass/blocks.scss */
.view-author-block .views-field-title .field-content, .view-quote-sidebar .views-field-title .field-content {
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 608, ../sass/blocks.scss */
.view-author-block .views-field-field-quote-text, .view-quote-sidebar .views-field-field-quote-text, .view-author-block .views-field-field-biography, .view-quote-sidebar .views-field-field-biography {
  margin: 0.5em 0;
  color: #793f0d;
  font-family: "Georgia W01 Italic", Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-size: 0.75em;
  line-height: 1.33333em;
}
/* line 615, ../sass/blocks.scss */
.view-author-block .views-field-field-quote-text .field-content:before, .view-quote-sidebar .views-field-field-quote-text .field-content:before {
  content: open-quote;
}
/* line 616, ../sass/blocks.scss */
.view-author-block .views-field-field-quote-text .field-content:after, .view-quote-sidebar .views-field-field-quote-text .field-content:after {
  content: close-quote;
}
/* line 618, ../sass/blocks.scss */
.view-author-block .views-field-field-author-reference, .view-quote-sidebar .views-field-field-author-reference {
  font-family: "Avenir LT W01 95 Black", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  color: #793f0d;
  font-size: 0.75em;
  line-height: 1.33333em;
}

/* line 625, ../sass/blocks.scss */
.view-quote-sidebar {
  margin-top: 1em;
}

/**
 * Social Share
 */
/* line 635, ../sass/blocks.scss */
.social-wrapper {
  padding-top: 0.5em;
  clear: both;
}

/**
 * Top content styles
 */
/* line 646, ../sass/blocks.scss */
.region-content-bottom h2 {
  color: white !important;
  text-indent: 0.5em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: #db0c41 url("../images/wrapper/adinkra-small.png") no-repeat;
  background-position: right -102px;
  padding: 0.2em;
}

/* line 656, ../sass/blocks.scss */
.top-content-list {
  clear: both;
}
/* line 659, ../sass/blocks.scss */
.top-content-list .views-row {
  margin-top: 0.5em;
}
/* line 661, ../sass/blocks.scss */
.top-content-list .views-row img {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  width: 100%;
}
/* line 662, ../sass/blocks.scss */
.top-content-list .views-row .views-field-title {
  margin-top: 0.5em;
}
/* line 663, ../sass/blocks.scss */
.top-content-list .views-row a {
  text-decoration: none;
  color: #a39161;
}
/* line 666, ../sass/blocks.scss */
.top-content-list .views-row a:hover, .top-content-list .views-row a:focus {
  color: #db0c41;
}
/* line 670, ../sass/blocks.scss */
.top-content-list.view-shop-items-on-recipe .views-row .views-field-title a {
  color: #793f0d;
}
@media (min-width: 32em) {
  /* line 672, ../sass/blocks.scss */
  .top-content-list .views-row {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
  }
  /* line 674, ../sass/blocks.scss */
  .top-content-list .views-row.views-row-even {
    float: right;
    margin-right: 0;
  }
  /* line 675, ../sass/blocks.scss */
  .top-content-list .views-row a {
    font-size: 0.8em;
    line-height: 1.5625em;
    line-height: 0em;
  }
  /* line 682, ../sass/blocks.scss */
  .top-content-list.view-shop-items-on-recipe .views-row .views-field-title {
    font-size: 1em;
    line-height: 1.25em;
    line-height: 1.1em;
    height: 3.3em;
  }
  /* line 683, ../sass/blocks.scss */
  .top-content-list.view-shop-items-on-recipe .views-row .views-field-commerce-price {
    font-size: 0.8em;
    line-height: 1.5625em;
    display: inline-block;
    vertical-align: bottom;
  }
  /* line 687, ../sass/blocks.scss */
  .top-content-list.view-shop-items-on-recipe .views-row .views-field-commerce-price table, .top-content-list.view-shop-items-on-recipe .views-row .views-field-commerce-price tr, .top-content-list.view-shop-items-on-recipe .views-row .views-field-commerce-price td {
    margin: 0;
    padding: 0;
  }
  /* line 688, ../sass/blocks.scss */
  .top-content-list.view-shop-items-on-recipe .views-row .views-field-commerce-price td {
    padding-bottom: 0.6em;
  }
  /* line 690, ../sass/blocks.scss */
  .top-content-list.view-shop-items-on-recipe .views-row .views-field-commerce-price td .price-amount {
    color: #262626;
  }
}
@media (min-width: 49em) {
  /* line 700, ../sass/blocks.scss */
  .top-content-list .views-row.views-row-even {
    float: left;
    margin-right: 1.69492%;
  }
  /* line 701, ../sass/blocks.scss */
  .top-content-list .views-row {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
  }
  /* line 704, ../sass/blocks.scss */
  .top-content-list .views-row.views-row-even {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
  }
  /* line 705, ../sass/blocks.scss */
  .top-content-list .views-row.views-row-last {
    float: right;
    margin-right: 0;
  }
  /* line 707, ../sass/blocks.scss */
  .top-content-list .views-row a {
    letter-spacing: 0;
  }
}

/* line 714, ../sass/blocks.scss */
.section-about-us .region-content-bottom h2 {
  background-color: #f1ab00;
  background-position: right 4px;
}
/* line 715, ../sass/blocks.scss */
.section-about-us .region-content-bottom .top-content-list .views-row a:hover {
  color: #f1ab00;
}

/* line 719, ../sass/blocks.scss */
.section-good-stuff .region-content-bottom h2 {
  background-color: #00aeef;
  background-position: right -156px;
}
/* line 720, ../sass/blocks.scss */
.section-good-stuff .region-content-bottom .top-content-list .views-row a:hover {
  color: #00aeef;
}

/* line 724, ../sass/blocks.scss */
.section-shop .region-content-bottom h2 {
  background-color: #12ad2b;
  background-position: right -52px;
}
/* line 725, ../sass/blocks.scss */
.section-shop .region-content-bottom .top-content-list .views-row {
  border-bottom: none;
}
/* line 725, ../sass/blocks.scss */
.section-shop .region-content-bottom .top-content-list .views-row a:hover {
  color: #12ad2b;
}

/* line 731, ../sass/blocks.scss */
#block-webform-client-block-399 .form-item {
  margin: 0.5em 0;
  color: #793f0d;
  font-size: 0.75em;
  line-height: 1.33333em;
}
/* line 733, ../sass/blocks.scss */
#block-webform-client-block-399 .form-item input {
  padding: 0.5em 0;
  text-indent: 0.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: white;
}
/* line 741, ../sass/blocks.scss */
#block-webform-client-block-399 .form-actions {
  margin: 0;
  position: relative;
}
/* line 65, ../sass/_custom.scss */
#block-webform-client-block-399 .form-actions:after {
  width: 0;
  height: 0;
  border-radius: 2px;
  border: solid transparent;
  content: " ";
  position: absolute;
  pointer-events: none;
  border-left-color: white;
  border-width: 0.4em;
  margin-left: 0.4em;
  bottom: 0.65em;
}
/* line 744, ../sass/blocks.scss */
#block-webform-client-block-399 .form-actions .form-submit {
  font-size: 1.55em;
  line-height: 1.29032em;
  padding: 0;
  font-family: "OPTISport-Script", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  text-transform: none;
  color: white;
}

/* line 754, ../sass/blocks.scss */
.js #block-webform-client-block-399 .newsletter {
  font-size: 0.8em;
  line-height: 1.5625em;
  line-height: 1em;
  margin: 0.25em 0;
}
/* line 758, ../sass/blocks.scss */
.js #block-webform-client-block-399 .webform-component-email label {
  position: absolute;
  z-index: 1;
  color: #793f0d;
  text-transform: lowercase;
  padding: 0.5em;
  font-size: 1.2em;
  line-height: 1.25em;
}
/* line 764, ../sass/blocks.scss */
.js #block-webform-client-block-399 .webform-component-email label .form-required {
  display: none;
}
/* line 765, ../sass/blocks.scss */
.js #block-webform-client-block-399 .webform-component-email label.dim {
  opacity: .8;
}

/* line 773, ../sass/blocks.scss */
#block-webform-client-block-532 h2,
#block-webform-client-block-399 h2,
#block-webform-client-block-25 h2 {
  color: white;
  margin: 0;
  text-transform: none;
}
/* line 777, ../sass/blocks.scss */
#block-webform-client-block-532 h2.block-title,
#block-webform-client-block-399 h2.block-title,
#block-webform-client-block-25 h2.block-title {
  font-family: "OPTISport-Script", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 1.5em;
  line-height: 1.16667em;
  line-height: 1em;
}
/* line 782, ../sass/blocks.scss */
#block-webform-client-block-532 h2.line-two,
#block-webform-client-block-399 h2.line-two,
#block-webform-client-block-25 h2.line-two {
  font-size: 1.3em;
  line-height: 1.34615em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 792, ../sass/blocks.scss */
.node-type-recipe .field-collection-container, #block-webform-client-block-399 {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  color: white;
  padding: 1em;
}

/* line 799, ../sass/blocks.scss */
.node-type-recipe .field-collection-container {
  background: #db0c41;
}

/* line 803, ../sass/blocks.scss */
#block-webform-client-block-399 {
  background: #a39161;
}

/* line 808, ../sass/blocks.scss */
#block-block-1 {
  padding-top: 1em;
  clear: both;
  color: white;
  font-size: 14px;
  line-height: 17px;
}
/* line 814, ../sass/blocks.scss */
#block-block-1 p {
  margin: 0;
}

/* line 817, ../sass/blocks.scss */
#block-webform-client-block-25 {
  margin: 1em 0;
  clear: both;
  font-family: "Avenir LT W01 95 Black", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  color: #b39f69;
}
/* line 822, ../sass/blocks.scss */
#block-webform-client-block-25 label.focus {
  opacity: 0.35;
}
/* line 823, ../sass/blocks.scss */
#block-webform-client-block-25 label.has-text {
  opacity: 0.0;
  -webkit-transition-duration: 0s;
}
/* line 825, ../sass/blocks.scss */
#block-webform-client-block-25 h2 {
  color: #b39f69;
}
/* line 826, ../sass/blocks.scss */
#block-webform-client-block-25 h2.block-title {
  margin-top: 0.1em;
}
/* line 829, ../sass/blocks.scss */
#block-webform-client-block-25 .form-item {
  margin: 0.2em 0em;
}
/* line 831, ../sass/blocks.scss */
#block-webform-client-block-25 .form-required {
  display: none;
}
/* line 832, ../sass/blocks.scss */
#block-webform-client-block-25 .webform-component-email {
  max-width: 96%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 1px #b39f69 solid;
  padding: 8px 4px 4px 16px;
}
/* line 838, ../sass/blocks.scss */
#block-webform-client-block-25 .webform-component-email label {
  font-family: "Avenir LT W01 65 Medium", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  color: white;
  font-weight: 100;
  text-transform: lowercase;
  position: relative;
  z-index: 1;
}
/* line 842, ../sass/blocks.scss */
#block-webform-client-block-25 .webform-component-email input.form-email {
  background: transparent;
  display: block;
  color: white;
  width: 95%;
  border: none;
  outline: none;
  padding: 0;
  line-height: 1.5em;
}
/* line 854, ../sass/blocks.scss */
#block-webform-client-block-25 .form-actions {
  display: inline-block;
  position: relative;
  margin: 0;
  top: 6px;
  position: relative;
}
/* line 65, ../sass/_custom.scss */
#block-webform-client-block-25 .form-actions:after {
  width: 0;
  height: 0;
  border-radius: 2px;
  border: solid transparent;
  content: " ";
  position: absolute;
  pointer-events: none;
  border-left-color: #a39161;
  border-width: 0.4em;
  margin-left: 0.4em;
  bottom: 0.65em;
}
/* line 861, ../sass/blocks.scss */
#block-webform-client-block-25 .form-actions .form-submit {
  color: #b39f69;
  background: transparent;
  text-transform: none;
  padding: 0;
  border: none;
  font-family: "OPTISport-Script", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 1.8em;
  line-height: 1.25em;
  line-height: 1em;
}
@media (min-width: 32em) {
  /* line 874, ../sass/blocks.scss */
  #block-webform-client-block-25 .webform-component-email {
    display: inline-block;
    max-width: 16em;
  }
}
@media (min-width: 60em) {
  /* line 817, ../sass/blocks.scss */
  #block-webform-client-block-25 {
    margin: 2em 0;
    width: 79.16667%;
    float: right;
    margin-right: 0;
  }
}

/**
 * Footer Roundall
 */
/* line 889, ../sass/blocks.scss */
#block-block-32 h2, #block-block-13 h2 {
  background: url("../images/wrapper/owned-by-cocoa-farmers-made-for-chocolate-lovers.gif") no-repeat center top;
  background-size: contain;
  height: 8em;
  width: 100%;
  text-indent: -500%;
  overflow: hidden;
}
@media (min-width: 49em) {
  /* line 888, ../sass/blocks.scss */
  #block-block-32, #block-block-13 {
    width: 18.36735%;
    float: right;
    margin-right: 0;
  }
}

/**
 * IE<9 warning.
 */
/* line 910, ../sass/blocks.scss */
#block-webform-client-block-532 {
  display: none;
}

/* line 913, ../sass/blocks.scss */
.js #block-webform-client-block-532 {
  z-index: 1000;
  display: block;
  position: fixed;
  bottom: -13em;
  right: 4em;
  background: #a39161;
  padding: 1em;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  margin: 0;
  color: white;
  -webkit-box-shadow: 0px 0px 5px #58595b;
  -moz-box-shadow: 0px 0px 5px #58595b;
  box-shadow: 0px 0px 5px #58595b;
}
/* line 914, ../sass/blocks.scss */
.js #block-webform-client-block-532 .close {
  text-indent: -1000%;
  background: url("../images/wrapper/close.png") no-repeat;
  background-size: contain;
  width: 2em;
  height: 2em;
  display: inline-block;
  position: relative;
  left: 32.5em;
  top: -0.5em;
  cursor: pointer;
}
/* line 937, ../sass/blocks.scss */
.js #block-webform-client-block-532 .top-title {
  clear: both;
  margin-top: -2em;
}
/* line 938, ../sass/blocks.scss */
.js #block-webform-client-block-532 h2 {
  display: inline;
}
/* line 940, ../sass/blocks.scss */
.js #block-webform-client-block-532 h2.block-title {
  font-size: 1.7em;
  line-height: 1.17647em;
  line-height: 1em;
}
/* line 941, ../sass/blocks.scss */
.js #block-webform-client-block-532 h2.line-two {
  padding-left: 0.25em;
}
/* line 943, ../sass/blocks.scss */
.js #block-webform-client-block-532 .newsletter {
  margin: 0.75em 0;
}
/* line 946, ../sass/blocks.scss */
.js #block-webform-client-block-532 .webform-component-email {
  color: black;
}
/* line 948, ../sass/blocks.scss */
.js #block-webform-client-block-532 .webform-component-email label {
  padding: 0.5em;
}
/* line 950, ../sass/blocks.scss */
.js #block-webform-client-block-532 .webform-component-email label .form-required {
  display: none;
}
/* line 956, ../sass/blocks.scss */
.js #block-webform-client-block-532 .form-actions {
  position: relative;
}
/* line 65, ../sass/_custom.scss */
.js #block-webform-client-block-532 .form-actions:after {
  width: 0;
  height: 0;
  border-radius: 2px;
  border: solid transparent;
  content: " ";
  position: absolute;
  pointer-events: none;
  border-left-color: white;
  border-width: 0.4em;
  margin-left: 0.4em;
  bottom: 0.5em;
}
/* line 958, ../sass/blocks.scss */
.js #block-webform-client-block-532 .form-actions .form-submit {
  background: transparent;
  text-transform: none;
  padding: 0;
  border: none;
  font-family: "OPTISport-Script", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 1.8em;
  line-height: 1.25em;
  line-height: 1em;
}

/**
 *   Firefox fix
 */
@-moz-document url-prefix() {
  /* line 975, ../sass/blocks.scss */
  #block-webform-client-block-25 .webform-component-email {
    padding-bottom: 8px;
  }
  /* line 978, ../sass/blocks.scss */
  #block-webform-client-block-25 #edit-actions--2 {
    top: -10px;
  }
}

/* line 991, ../sass/blocks.scss */
.js #block-webform-client-block-25
.webform-component-email label,
.js #block-webform-client-block-532
.webform-component-email label,
.js #block-search-form
.form-item-search-block-form label {
  position: absolute;
}
/* line 992, ../sass/blocks.scss */
.js #block-webform-client-block-25
.webform-component-email label.dim,
.js #block-webform-client-block-532
.webform-component-email label.dim,
.js #block-search-form
.form-item-search-block-form label.dim {
  opacity: .7;
}

/* AddThisEvent */
/* line 1001, ../sass/blocks.scss */
.addthisevent-drop {
  display: inline-block;
  position: relative;
  z-index: 999998;
  font-family: arial;
  color: #333333 !important;
  background: #f4f4f4 url("../images/icon-calendar-t1.png") no-repeat 9px 50%;
  text-decoration: none;
  border: 1px solid #d9d9d9;
  color: #555;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding: 9px 12px 8px 35px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

/* line 1002, ../sass/blocks.scss */
.addthisevent-drop:hover {
  border: 1px solid #aab9d4;
  color: #555;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

/* line 1003, ../sass/blocks.scss */
.addthisevent-drop:active {
  top: 1px;
}

/* line 1004, ../sass/blocks.scss */
.addthisevent-selected {
  background-color: #f7f7f7;
}

/* line 1005, ../sass/blocks.scss */
.addthisevent_dropdown {
  width: 200px;
  position: absolute;
  z-index: 99999;
  padding: 6px 0px 0px 0px;
  background: #fff;
  text-align: left;
  display: none;
  margin-top: -2px;
  margin-left: -1px;
  border-top: 1px solid #c8c8c8;
  border-right: 1px solid #bebebe;
  border-bottom: 1px solid #a8a8a8;
  border-left: 1px solid #bebebe;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);
}

/* line 1006, ../sass/blocks.scss */
.addthisevent_dropdown span {
  width: 175px;
  display: block;
  line-height: 110%;
  background: #fff;
  text-decoration: none;
  font-size: 12px;
  color: #6d84b4;
  padding: 8px 10px 9px 15px;
}

/* line 1007, ../sass/blocks.scss */
.addthisevent_dropdown span:hover {
  background: #f4f4f4;
  color: #6d84b4;
  text-decoration: none;
  font-size: 12px;
}

/* line 1008, ../sass/blocks.scss */
.addthisevent span {
  display: none !important;
}

/* line 1009, ../sass/blocks.scss */
.addthisevent-drop ._url, .addthisevent-drop ._start, .addthisevent-drop ._end, .addthisevent-drop ._summary, .addthisevent-drop ._description, .addthisevent-drop ._location, .addthisevent-drop ._organizer, .addthisevent-drop ._organizer_email, .addthisevent-drop ._facebook_event, .addthisevent-drop ._all_day_event {
  display: none !important;
}

/* line 1010, ../sass/blocks.scss */
.addthisevent_dropdown .copyx {
  width: 200px;
  height: 21px;
  display: block;
  position: relative;
  cursor: default;
}

/* line 1011, ../sass/blocks.scss */
.addthisevent_dropdown .brx {
  width: 180px;
  height: 1px;
  overflow: hidden;
  background: #e0e0e0;
  position: absolute;
  z-index: 100;
  left: 10px;
  top: 9px;
}

/* line 1012, ../sass/blocks.scss */
.addthisevent_dropdown .frs {
  position: absolute;
  top: 5px;
  cursor: pointer;
  right: 10px;
  padding-left: 10px;
  font-style: normal;
  font-weight: normal;
  text-align: right;
  z-index: 101;
  line-height: 110%;
  background: #fff;
  text-decoration: none;
  font-size: 9px;
  color: #cacaca;
}

/* line 1013, ../sass/blocks.scss */
.addthisevent_dropdown .frs:hover {
  color: #6d84b4;
}

/* line 1014, ../sass/blocks.scss */
.addthisevent {
  visibility: hidden;
}
