/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
@font-face {
  font-family: 'OPTISport-Script';
  src: url("fonts/optispos.eot");
  src: url("fonts/optispos.eot?#iefix") format("embedded-opentype"), url("fonts/optispos.woff") format("woff"), url("fonts/optispos.ttf") format("truetype"), url("fonts/optispos.svg#optisport-scriptscript") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*Custom Mixins*/
/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 30, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 33, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 47, ../sass/pages.scss */
#swoosh {
  background: url('../images/wrapper/swoosh-top.png?1400880296') no-repeat;
  background-position: -102px;
  height: 35px;
  width: 100%;
  position: relative;
  margin: 0 -1em;
  padding: 0 1em;
  clear: both;
}
@media (min-width: 20em) {
  /* line 47, ../sass/pages.scss */
  #swoosh {
    background-position: right;
  }
}
@media (min-width: 32em) {
  /* line 47, ../sass/pages.scss */
  #swoosh {
    background-position: center;
    clear: none;
    margin-bottom: -13px;
  }
}
@media (min-width: 60em) {
  /* line 47, ../sass/pages.scss */
  #swoosh {
    margin: -2px -2.5em 0 -2.5em;
    padding: 0 2.5em;
  }
}

@media (min-width: 32em) {
  /* line 70, ../sass/pages.scss */
  .no-menu #swoosh {
    clear: both;
    margin-bottom: 0;
  }
}

/* line 76, ../sass/pages.scss */
#header {
  background: #000000;
  color: #fff;
  margin-bottom: -1px;
}

/* line 85, ../sass/pages.scss */
.front #block-block-14 {
  display: none;
}
@media (min-width: 32em) {
  /* line 90, ../sass/pages.scss */
  .front.sidebar-first #content {
    width: 59.18367%;
    float: left;
    margin-right: 2.04082%;
    display: inline;
  }
  /* line 93, ../sass/pages.scss */
  .front.sidebar-first #content #block-views-frontpage-shop-window-block img {
    border-bottom: 1px dashed #b39f69;
  }
  /* line 96, ../sass/pages.scss */
  .front.sidebar-first .sidebars {
    width: 38.77551%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
  }
}
@media (min-width: 49em) {
  /* line 102, ../sass/pages.scss */
  .front #header {
    background-image: url('../images/homepage-banner/love-chocolate.jpg?1400880296');
    background-repeat: no-repeat;
    background-position: center 151px;
    min-height: 459px;
  }
  /* line 108, ../sass/pages.scss */
  .front #header #block-block-14 {
    display: block;
    width: 515px;
    height: 115px;
    position: absolute;
    top: 175px;
    margin-left: -348px;
    background: transparent;
  }
  /* line 116, ../sass/pages.scss */
  .front #header #block-block-14 p {
    display: block;
    height: 100%;
  }
  /* line 117, ../sass/pages.scss */
  .front #header #block-block-14 a {
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    height: 100%;
  }
  /* line 125, ../sass/pages.scss */
  .front #header #swoosh, .front #header .region-nav {
    position: relative;
    top: 298px;
  }
}

/* line 138, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  width: 58.33333%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-top: 0.5em;
}
/* line 141, ../sass/pages.scss */
.region-header .block {
  background: black;
  height: 1.6em;
  margin: 0.5em 0 0 0.5em;
  clear: both;
  width: 100%;
  font-family: "Avenir LT W01 95 Black", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  padding: 0.4em 0;
  font-size: 0.6em;
  line-height: 1.66667em;
}
@media (min-width: 32em) {
  /* line 138, ../sass/pages.scss */
  .region-header {
    width: 59.18367%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
    margin-top: 1em;
  }
  /* line 155, ../sass/pages.scss */
  .region-header .block {
    clear: none;
    width: 8em;
    float: right;
    margin-top: 1em;
    margin-left: 1em;
    font-size: 0.8em;
    line-height: 1.5625em;
    line-height: 1.5em;
  }
}

/*
 * Main (container for everything else)
 */
/* line 173, ../sass/pages.scss */
#main {
  background: white;
}

/*
 * Content
 */
/* line 185, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 186, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 190, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 199, ../sass/pages.scss */
.view-recipes a:hover img, .view-sidebar-blocks a:hover img {
  -moz-box-shadow: 0px 5px #58595b;
  -webkit-box-shadow: 0px 5px #58595b;
  box-shadow: 0px 5px #58595b;
}

/* line 208, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 217, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 221, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 225, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 228, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 234, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 237, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 242, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 246, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 250, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 254, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 257, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 260, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 263, ../sass/pages.scss */
#content {
  /* Wrapper for the actual page content */
}

/* line 267, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 271, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 277, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 281, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 284, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 289, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 292, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * Sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/* line 301, ../sass/pages.scss */
.sidebars {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

@media (min-width: 32em) {
  /* line 305, ../sass/pages.scss */
  .sidebar-first #content {
    width: 69.38776%;
    float: left;
    margin-right: 2.04082%;
    display: inline;
  }

  /* line 310, ../sass/pages.scss */
  .sidebars {
    width: 28.57143%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
  }
}
@media (min-width: 49em) {
  /* line 317, ../sass/pages.scss */
  .sidebar-first #content {
    width: 79.59184%;
    float: left;
    margin-right: 2.04082%;
    display: inline;
  }

  /* line 322, ../sass/pages.scss */
  .sidebars {
    width: 18.36735%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
  }

  /* line 326, ../sass/pages.scss */
  .adinkra-sidebar .sidebars {
    background: url("../images/symbols/adinkra-large.png") no-repeat;
    padding-bottom: 220px;
    background-position: left bottom;
  }
  /* line 331, ../sass/pages.scss */
  .adinkra-sidebar.good-stuff .sidebars {
    background-position: -200px bottom;
  }
}
/*
 * Footer
 */
/* line 342, ../sass/pages.scss */
#footer {
  background: url("../images/wrapper/swoosh-bottom.png") black no-repeat top right;
  padding-top: 6em;
}
@media (min-width: 32em) {
  /* line 342, ../sass/pages.scss */
  #footer {
    background-position-x: center;
  }
}

/*
 * Page bottom
 */
/* line 355, ../sass/pages.scss */
.region-content-bottom {
  /* Wrapper for any blocks placed in the content bottom region */
  clear: both;
  padding: 2em 0;
}
@media (min-width: 32em) {
  /* line 355, ../sass/pages.scss */
  .region-content-bottom {
    width: 79.59184%;
    float: left;
    margin-right: 2.04082%;
    display: inline;
  }
}

/*
 * Page bottom
 */
