/**
 * @file
 * RTL companion for the tabs.css file.
 */
@font-face {
  font-family: 'OPTISport-Script';
  src: url("fonts/optispos.eot");
  src: url("fonts/optispos.eot?#iefix") format("embedded-opentype"), url("fonts/optispos.woff") format("woff"), url("fonts/optispos.ttf") format("truetype"), url("fonts/optispos.svg#optisport-scriptscript") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir LT W01 65 Medium";
  src: url("../fonts/Avenir-LT-W01-65-Medium.eot?#iefix");
  src: url("../fonts/Avenir-LT-W01-65-Medium.eot?#iefix") format("eot"), url("../fonts/Avenir-LT-W01-65-Medium.woff2") format("woff2"), url("../fonts/Avenir-LT-W01-65-Medium.woff") format("woff"), url("../fonts/Avenir-LT-W01-65-Medium.ttf") format("truetype"), url("../fonts/Avenir-LT-W01-65-Medium.svg#294099f3-8d00-4676-afc5-5e9d8d43ad69") format("svg");
}
@font-face {
  font-family: "Avenir LT W01 95 Black";
  src: url("../fonts/Avenir-LT-W01-95-Black.eot?#iefix");
  src: url("../fonts/Avenir-LT-W01-95-Black.eot?#iefix") format("eot"), url("../fonts/Avenir-LT-W01-95-Black.woff2") format("woff2"), url("../fonts/Avenir-LT-W01-95-Black.woff") format("woff"), url("../fonts/Avenir-LT-W01-95-Black.ttf") format("truetype"), url("../fonts/Avenir-LT-W01-95-Black.svg#7bdad4a5-289b-42f9-b6fa-c5883b9e9f23") format("svg");
}
@font-face {
  font-family: "Georgia W01 Italic";
  src: url("../fonts/Georgia-W01-Italic.eot?#iefix");
  src: url("../fonts/Georgia-W01-Italic.eot?#iefix") format("eot"), url("../fonts/Georgia-W01-Italic.woff2") format("woff2"), url("../fonts/Georgia-W01-Italic.woff") format("woff"), url("../fonts/Georgia-W01-Italic.ttf") format("truetype"), url("../fonts/Georgia-W01-Italic.svg#39f8467c-4358-4a4b-a43f-8b26bd049b35") format("svg");
}
/*Custom Mixins*/
/* line 11, ../sass/tabs-rtl.scss */
ul.primary li,
ul.secondary li {
  float: right;
}

/* line 17, ../sass/tabs-rtl.scss */
ul.primary li {
  margin: 0.5em 3px 0 0;
}
