//
// "base" partial
//
// To make it easier to use all variables and mixins in any Sass file in this
// theme, each .scss file has a @import "base" declaration. And this _base.scss
// file is in charge of importing all the other partials needed for the theme.
//
// This base partial is organized in this way:
// - First we set any shared Sass variables.
// - Next we import Compass plug-ins (Sass mixin libraries).
// - Last we import a _custom.scss partial that includes our custom mixins.
//

@import "susyone";

//
// Font faces, stacks and sizes.
//

// Compass' vertical_rhythm extension is a powerful tool to set up a vertical
// rhythm for your entire page. You can see some of its mixins and functions in
// use in the normalize.scss file.
// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/


$base-font-size:   16px; // The font size set on the root html element.
$base-line-height: 8px; // This line-height determines the basic unit of vertical rhythm.

$round-to-nearest-half-line: true;

//Breakpoints
$mobile-landscape: 20em;
$tablet: 32em;
$desktop: 49em;
$desktop-wide: 60em;

$h1-font-size: 1.25   * $base-font-size;
$h2-font-size: 1  * $base-font-size;
$h3-font-size: 0.9 * $base-font-size;
$h4-font-size: 0.9 * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.75 * $base-font-size;

// The following font family declarations are based on the Microsoft core web
// fonts which are common fonts available on most computer systems. The DejaVu
// and Nimbus Sans fonts are commonly available on Linux systems where the MS
// fonts are less common. Tahoma and Helvetica are also widely available.
//
// A user's web browser will look at the comma-separated list and will
// attempt to use each font in turn until it finds one that is available
// on the user's computer. The final "generic" font (sans-serif, serif or
// monospace) hints at what type of font to use if the web browser doesn't
// find any of the fonts in the list.


@font-face {
    font-family: 'OPTISport-Script';
    src: url('fonts/optispos.eot');
    src: url('fonts/optispos.eot?#iefix') format('embedded-opentype'),
         url('fonts/optispos.woff') format('woff'),
         url('fonts/optispos.ttf') format('truetype'),
         url('fonts/optispos.svg#optisport-scriptscript') format('svg');
         
    font-weight: normal;
    font-style: normal;

}
    

// First, let's create some font stacks.

$georgia:         'Georgia W01 Italic', Georgia, "Times New Roman", "DejaVu Serif", serif;



$avenir-bold:    'Avenir LT W01 95 Black', Helvetica, Arial, "Nimbus Sans L", sans-serif;
$avenir:         'Avenir LT W01 65 Medium', Helvetica, Arial, "Nimbus Sans L", sans-serif;
$optisport:      'OPTISport-Script', Helvetica, Arial, "Nimbus Sans L", sans-serif;

$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;

/*Custom Mixins*/

// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $avenir; // The font family set on the html element.
$font-body:        $avenir;
$font-monospace:   $helvetica;

//
// Colors, etc.
//

$black: #000000;
$white: #ffffff;

$gold: #A39161;
$green: #12AD2B;
$blue: #00AEEF;
$pink: #DB0C41;
$yellow: #F1AB00;
$purple: #70266C;
$grey: #58595B;
$brown: #793F0D;

// text colours
$gold-on-black: #B39F69;
$default-text: $brown;

$default-text-shadow-color: lighten($grey, 25%);
$default-text-shadow-blur: 1px;
$default-text-shadow-h-offset: 1px;
$default-text-shadow-v-offset: 1px;

$default-box-shadow-color: $grey;

$default-border-radius: 6px;

// Gradients

// The amount lists, blockquotes and comments are indented.
$indent-amount: 1em;


//
// Partials to be shared with all .scss files.
//

@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
//@import "zen";              // Add the Zen Grids responsive layout mixins.

@import "custom";           // Import our custom mixins last.
