/**
 * @file
 * Block Styling
 */

@import "base";


.block { /* Block wrapper */
  margin-bottom: 0.5em;

  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }

  h2.block-title { /* Block title */
   @include adjust-font-size-to(1.1 * $base-font-size);
  }
  p {@include adjust-font-size-to(0.8 * $base-font-size); line-height: 1em;}
}


#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

//header blocks
#logo { /* The name of the website */
  @include span-columns(2, 5);
  h1 {
    font-size: 2em;
    line-height: 1.4em;
    background: url('../images/wrapper/divine-chocolate.png') no-repeat; 
    text-indent: -10000px;
    background-size: contain;
    height: 45px; 
    margin: 0.25em 0 0 0;
    a:link,
    a:visited {
      color: #000;
      text-decoration: none;
      display: block; height: 100%;
    }
  
    a:hover,
    a:focus {
      text-decoration: underline;
    }
  }
  
  @include breakpoint(mobile-landscape) {
    h1 {height: 50px;
      margin: 0.25em 0 0.25em 0;
    }
  }
  @include breakpoint(tablet) {
    @include span-columns(3, 10);
    h1 {
      height: 95px;
      margin-bottom: 1.5em;
    }
  }
  @include breakpoint(desktop) {
    @include span-columns(4, 10);
    h1 {
      margin: 0.5em 0;
    }
  }
  
}

.js {
  #block-search-form, 
  #block-block-9,
  #block-block-4,
  .region-nav{
    display: none;
    @include breakpoint(tablet) {
      display: block;
    }
  }
  #block-block-10, #block-block-38  {
    @include breakpoint(tablet) {
      display: none;
    }
  }
}

#block-block-10, #block-block-38 {
  width: 35px;
  height: 35px;
  padding: 2px 6px;
  float: right;
  margin-bottom: 0.5em;
  border: $gold-on-black 1px solid;
  @include border-radius;
  p {width: 100%; height: 100%;margin:0;}
  a {
    text-indent: -1000%;
    overflow: hidden;
    background: url('../images/wrapper/mobile-menu.png') no-repeat;
    background-size: contain;
    display: block;
    height: 100%;
    width: 100%;
  }
}

.mobile #block-search-form, 
.mobile #block-block-4, 
#block-block-9,
  {
  padding: 0.5em;
}

#block-search-form {
  @include border-radius(4px);
  border: 1px $gold-on-black solid;
  color: $gold-on-black;
  margin-bottom: 0.5em;
  form {margin-top: 0;}
  p {
    @include adjust-font-size-to( .75 * $base-font-size );
  }
  label {
    width: 100%; text-align: center; 
    text-transform: none;line-height: 1.5em;
    display: block;
  }
  input.form-text {
    font-family: $avenir;
    line-height: 1.5em;
    background: transparent;
    border: none;
    outline: none;
    color: $white;
    font-weight: normal;
    text-align: center;
    width: 100%;
    display: block;
    padding: 0;
  }
  .form-actions {display: none;}
  @include breakpoint(tablet) {
    
    margin-bottom: 0;
    label {text-indent: 7px;text-align: left;max-width: 5.4em;}
    input.form-text {
      width: 5.4em;
      text-align: left;
    }
    .form-type-textfield {
      float: right;
      margin: 0;
      label, input {}
    }
    .form-actions {
      display: inline-block;
      position: relative;
      float: left;
      top: 2px;
      left: 1em;
      background-image: none;
    
   
      input.form-submit {
        background: transparent;
        border: none;
        outline: none;
        background-image: url('../images/wrapper/icons.png');
        background-repeat: no-repeat;
        background-position: center -25px;
        width: 18px; height: 18px;
        text-indent: 400%;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    &:hover {
      border: 1px $white solid;
      color: $white;
      .form-actions input.form-submit {
        background-position: center -101px;
      }
    }
  }
}

//shopping-cart
//#block-views-6aa51a04a11ebcfeff082e88e32439f2 {
#block-block-4 {
  @include border-radius(4px);
  border: 1px $gold-on-black solid;
  color: $gold-on-black;
  text-align: center;
  cursor: pointer;
  &:hover {
    border: 1px $white solid;
    p a, p a:hover {color: $white; text-decoration: none;}
  }
  .line-item-summary {margin: 0;}
  .line-item-summary .line-item-quantity {
    float: none;
    text-align: center;
  }
  .inline {
    text-align: center;
    display: block;
    margin: 0;
  }
  p {
    margin: 0; @include adjust-font-size-to(1 * $base-font-size);line-height: 1.5em;
    a {
      color: $gold-on-black;
     
    }
  }
  @include breakpoint(tablet) {
    & > p {
      background-image: url('../images/wrapper/icons.png');
      background-repeat: no-repeat;
      background-position: 6px 2px;
      text-indent: 21px;
    }
    &:hover > p {
      background-position: 6px -74px;
    }
  }
}
#block-block-9 {
  @extend #block-block-4;
}

.admin-menu #block-commerce-cart-cart {
  top: 6.3em;
}
#block-commerce-cart-cart {
  top: 4.8em;
  padding: 0;
  max-width: 22em;
  width: 100%;
  height: auto;
  position: absolute;
  margin-left: 21.5em;
  margin-top: 0;
  display: none;
  z-index: 10;
  .cart-contents, .cart-empty-block {
    background: url('../images/symbols/arrow-up.png') no-repeat top center;
    padding-top: 2em;
    
    .view-commerce-cart-block {
      color: $black;
      background: $white;
      @include box-shadow($grey -2px 2px 2px);
      z-index: 9;
      @include border-radius;
    }
    .views-row {
      border-bottom: 1px dashed $gold;
      padding: 1.5em 0;
      clear: both;
      @include span-columns(10 omega,10);
      .views-field-field-image {
        @include span-columns(2,10);
        img {padding-left: 1em;}
      }
      .views-field-line-item-title {
        @include span-columns(8 omega,10);
        text-align: left;
        @include adjust-font-size-to(1 * $base-font-size);
        div {padding-left: 1em;}
        .cart-title {color: $brown;padding-right: 1em;}
        .cart-quantity {color: $gold-on-black;}
        .cart-line-total{color: $grey;font-family: $avenir;}
      }
    }
    .view-footer {
      clear: both;
      .line-item-summary-checkout a {
        @include button($gold);
        margin: 1em;display: inline-block;
      }
      .line-item-summary {margin-bottom: 0;}
    }
  }
  .cart-empty-block {
    background: $black;
    width: auto;
    margin-top: 0em;
    padding: 1em;
  }
}

/**
 * Facebook button
 */

#block-block-8 {
  border: 1px $gold-on-black solid;
  @include border-radius;
  background: url('../images/wrapper/icons.png') no-repeat 4px -48px;
  padding: 0 0 0 2em;
  width: auto;
  height: auto;
  p {
    margin: 0; @include adjust-font-size-to(1 * $base-font-size);line-height: 1.6em;
    border-left: 2px $gold-on-black solid;
    padding: 0;
    a {
      display: block;
      padding: 0.4em 0.75em;
      color: $gold-on-black;
    }
  }
}


/**
 * Checkout progress bar
 */


#block-block-33 {
  @include adjust-font-size-to (0.9 * $base-font-size);
  ol {
    list-style-position: inside;
    margin: 0;
    padding: 0;
    li {
      @include box-sizing(border-box);
      width: 25%;
      border-right: 1px $brown solid;
      float: left;
      padding: 0.75em;
      background: darken($white,10%);
      color: $grey;
      &:last-of-type {
        @include border-right-radius;
        border-right: none;
        
      }
      &:first-of-type {
        @include border-left-radius;
      }
    }
  }
}

.section-cart
#block-block-33 ol {
  li.cart {
    background: $green;
    color: white;
    font-family: $avenir-bold;
    text-transform: uppercase;
  }
}

.page-checkout
#block-block-33 ol {
  li.delivery {
    background: $green;
    color: white;
    font-family: $avenir-bold;
    text-transform: uppercase;
  }
  .cart {
    background: $gold; 
    color: white;
  }  
}

.page-checkout.page-checkout-shipping 
#block-block-33 ol {
  li.shipping {
    background: $green;
    color: white;
    font-family: $avenir-bold;
    text-transform: uppercase;
  }
  .cart, .delivery {
    background: $gold; 
    color: white;
    
    font-family: $avenir;
    text-transform: none;
  }  
}

.page-checkout.page-checkout-complete
#block-block-33 ol {
  li {
    background: $gold; 
    color: white;
    
    font-family: $avenir;
    text-transform: none;
  }  
}



/**
 * Checkout Site Secure
 */

#block-block-35 {
  background: url('../images/symbols/secure.png') no-repeat;
  background-size: contain;
  width: 100%;
  height: 23em;
  text-indent: -100%;
  overflow: hidden;
}

//site blocks

/**
 * large button styles
 */

.view-large-button-queues {
  .views-row {
    @include border-radius(6px);
    overflow: hidden;
    margin-bottom: 0.7em;
    a {display: block;}
    img {width: 100%;margin-bottom: -3px;}
    .views-field-title {
      position: relative;
      top: -1em;
      margin-bottom: -1em;
      a {
        color: $white;
        font-family: $avenir;
        @include adjust-font-size-to(0.85 * $base-font-size);line-height: 1em;
        padding: 0.75em 1em 0.8em 2em;
        @include arrow($white, 0.4em,0.9em);
      }
      
      .views-field-title-inner {
        background-color: $yellow;
        &.good-stuff {background-color: $blue;}
        &.shop {background-color: $blue;}
        &.recipes {background-color: $pink;}
      }
    }
    &:hover, &:focus {
      @include single-box-shadow;
      .views-field-title-inner {
        @include background-image(radial-gradient(0px 0px, elipse cover, lighten($yellow, 10%) 0%, $yellow 150px));
        &.good-stuff {@include background-image(radial-gradient(0px 0px, elipse cover, lighten($blue, 10%) 0%, $blue 150px));}
        &.shop {@include background-image(radial-gradient(0px 0px, elipse cover, lighten($green, 10%) 0%, $green 150px));}
        &.recipes {@include background-image(radial-gradient(0px 0px, elipse cover, lighten($pink, 10%) 0%, $pink 150px));}
        a {
          text-decoration: none;
        }
      }
    }
  }
  @include breakpoint(tablet) {
    &.spread {
      .views-row {
        @include span-columns(4,8);
        &.views-row-even {@include omega;}
      }
    }
  }
}

.front .view-large-button-queues .views-row .views-field-title a {
  text-transform: uppercase;
  font-family: $avenir-bold;
  padding: 0.5em 1.5em;
  @include adjust-font-size-to(1 * $base-font-size);
  @include arrow($white, 0.4em,0.75em);
  letter-spacing: 1px;
}



/**
 * Small button styles
 */

.view-sidebar-blocks {
  
  .views-row {
    @include adjust-font-size-to( 0.75 * $base-font-size );
    margin-bottom: 0.5em;
    line-height: 0;
    a {
      display: block;
      img {
        width: 100%;
        @include border-radius;
      }
    }
  }
  &.show-border {
    padding-top: 0.75em;
    .views-row img {border: 1px lighten($gold,30%) solid;}
  }
}



.view-author-block {
  //quotes
  .views-field-field-author-image img {
    @include border-radius(5px);
  }
  .views-field-title {
    .views-label-title {font-family: $georgia;}
    .field-content{
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    font-weight: normal;
    font-family: $avenir;
  }
  .views-field-field-quote-text, .views-field-field-biography {
    margin: 0.5em 0;
    color: $brown;
    font-family: $georgia;
    @include adjust-font-size-to( .75 * $base-font-size );
  }
  .views-field-field-quote-text { 
    .field-content:before {content:open-quote;}
    .field-content:after {content:close-quote;}
  }
  .views-field-field-author-reference {
    font-family: $avenir-bold;
    color: $brown;
    @include adjust-font-size-to( .75 * $base-font-size );
  }
}

.view-quote-sidebar {
  @extend .view-author-block;
  margin-top: 1em;
} 



/**
 * Social Share
 */
.social-wrapper {
  padding-top: 0.5em;
  clear: both;
}

/**
 * Top content styles
 */

.region-content-bottom {
  
  h2 {
    color: $white !important;
    text-indent: 0.5em;
    @include border-radius(6px);
    background: $pink url("../images/wrapper/adinkra-small.png") no-repeat;
    background-position: right -102px;
    padding: 0.2em;
  }
}

.top-content-list {
  clear: both;
  
  .views-row {
    margin-top: 0.5em;
    img {@include border-radius(6px);width: 100%;}
    .views-field-title {margin-top: 0.5em;}
    a {
      text-decoration: none;
      color: $gold;
      &:hover, &:focus {color: $pink;}
    }
    
  }
  &.view-shop-items-on-recipe .views-row .views-field-title a {color: $brown;}
  @include breakpoint(tablet) {
    .views-row {
      @include span-columns(4,8);
      &.views-row-even {@include omega;}
      a {
        @include adjust-font-size-to( 0.8 * $base-font-size );
        line-height: 0em;
      }
    }
    
    &.view-shop-items-on-recipe .views-row {
      .views-field-title {@include adjust-font-size-to( 1 * $base-font-size ); line-height: 1.1em; height: 3.3em;}
      .views-field-commerce-price {
        @include adjust-font-size-to( 0.8 * $base-font-size ); 
        display: inline-block;
        vertical-align: bottom;
        table, tr, td {margin: 0; padding: 0;}
        td {
          padding-bottom: 0.6em;
          .price-amount {
            color: lighten($black,15%);
          }
        }
      }
    }
      
  }
  @include breakpoint(desktop) {
    
    .views-row.views-row-even {@include remove-omega;}
    .views-row {
      
      @include span-columns(2,8);
      &.views-row-even {@include span-columns(2,8);}
      &.views-row-last {@include omega;}
      
      a {
        letter-spacing: 0;
      }
    }
  }
}
.section-about-us .region-content-bottom {
  h2 {background-color: $yellow; background-position: right 4px;}
  .top-content-list .views-row a:hover {color: $yellow}
}

.section-good-stuff .region-content-bottom {
  h2 {background-color: $blue; background-position: right -156px;}
  .top-content-list .views-row a:hover {color: $blue}
}

.section-shop .region-content-bottom {
  h2 {background-color: $green; background-position: right -52px;}
  .top-content-list .views-row {border-bottom: none; a:hover {color: $green}}
}

//sidebar sign up form

#block-webform-client-block-399 {
  .form-item {
    margin: 0.5em 0;
    input {
      padding: 0.5em 0; text-indent: 0.5em;
      @include border-radius(4px);
      background: $white;
    }
    color: $brown;
    @include adjust-font-size-to( 0.75 * $base-font-size );
  }
  .form-actions {
    margin:0;
    @include arrow($white, 0.4em);
    .form-submit {
      @include adjust-font-size-to( 1.55 * $base-font-size );
      padding: 0;
      font-family: $optisport;
      text-transform: none;
      color: $white;
    }
  }
}
.js #block-webform-client-block-399 {
  .newsletter {
    @include adjust-font-size-to(0.8 * $base-font-size);line-height: 1em;
    margin: 0.25em 0; 
  }
  .webform-component-email label {
    position: absolute; z-index: 1;
    color: $brown;
    text-transform: lowercase;
    padding: 0.5em;
    @include adjust-font-size-to(1.2 * $base-font-size);
    .form-required {display: none;}
    &.dim {opacity: .8;}
  }
}

//apply to all sign up blocks
#block-webform-client-block-532,
#block-webform-client-block-399,
#block-webform-client-block-25 {
  h2 {
    color: $white;
    margin: 0;
    text-transform: none;
    &.block-title {
      font-family: $optisport;
      @include adjust-font-size-to( 1.5 * $base-font-size );
      line-height: 1em;
    }
    &.line-two {
      @include adjust-font-size-to( 1.3 * $base-font-size );
      line-height: 1em;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}
//colored blocks
.node-type-recipe .field-collection-container, #block-webform-client-block-399 
{
  @include border-radius(6px);
  color: $white;
  padding: 1em;
}

//pink blocks
.node-type-recipe .field-collection-container {
  background: $pink;
}
//gold blocks
#block-webform-client-block-399 {
  background: $gold;
}

//footer blocks
#block-block-1 {//footer text
  padding-top: 1em;
  clear: both;
  color: $white;
  font-size: 14px;
  line-height: 17px;
  p {margin: 0;}
}
//email sign up web-form
#block-webform-client-block-25 {
  margin: 1em 0;
  clear: both;
  font-family: $avenir-bold;
  color: $gold-on-black;
  label.focus { opacity: 0.35; }
  label.has-text { opacity: 0.0; -webkit-transition-duration: 0s; }

  h2 {
    &.block-title{margin-top: 0.1em;}
    color: $gold-on-black;
  }
  .form-item {margin: 0.2em 0em;}
  
  .form-required {display: none;}
  .webform-component-email {
    max-width: 96%;
    @include border-radius(8px);
    border: 1px $gold-on-black solid;
    
    padding: 8px 4px 4px 16px;
    label {
      font-family: $avenir;
      color: $white; font-weight: 100; text-transform: lowercase; position: relative; z-index: 1;
    }
    input.form-email {
      background: transparent;
      display: block;
      color: $white;
      width: 95%;
      border: none;
      outline: none;
      padding: 0;
      line-height: 1.5em;
    }
  }
 
  .form-actions {
  
  display: inline-block;
  position: relative;
  margin: 0;
  top: 6px;
  @include arrow($gold, 0.4em);
    .form-submit {
      color: $gold-on-black;
      background: transparent;
      text-transform: none;
      padding: 0;
      border: none;
      font-family: $optisport;
      @include adjust-font-size-to( 1.8 * $base-font-size );line-height: 1em;
      
    } 
  }
  
  @include breakpoint(tablet) {
    .webform-component-email {display: inline-block;max-width: 16em;}
  }
  @include breakpoint(desktop-wide) {
    margin: 2em 0;
    @include span-columns(4 omega, 5);
  }

}


/**
 * Footer Roundall
 */

#block-block-32, #block-block-13 {
  h2 {
    background: url('../images/wrapper/owned-by-cocoa-farmers-made-for-chocolate-lovers.gif') no-repeat center top;
    background-size: contain;
    height: 8em;
    width: 100%;
    text-indent: -500%;
    overflow: hidden;
  }
  @include breakpoint(desktop) {
    @include span-columns(2 omega,10);
  } 
}


/**
 * IE<9 warning.
 */

#block-block-37 {
}
//crawl up prompt
#block-webform-client-block-532 {
  display: none;
}
.js #block-webform-client-block-532 {
  .close {
    text-indent: -1000%;
    background: url('../images/wrapper/close.png') no-repeat;
    background-size: contain;
    width: 2em;
    height: 2em;
    display: inline-block;
    position: relative;
    left: 32.5em;
    top: -0.5em;
    cursor: pointer;
  }
  z-index: 1000;
  display: block;
  position: fixed;
  bottom: -13em;
  right: 4em;
  background: $gold; 
  padding: 1em;
  @include border-top-radius;
  margin: 0;
  color: $white;
  @include single-box-shadow;
  .top-title {clear: both;margin-top: -2em;}
  h2 {
    display: inline;
    &.block-title {@include adjust-font-size-to(1.7 *$base-font-size); line-height: 1em;}
    &.line-two {padding-left: 0.25em; }
  }
  .newsletter {
    margin: 0.75em 0;
  }
  .webform-component-email {
    color: $black;
    label {
      padding: 0.5em;
      .form-required {
        display: none;
      }
    }
  }
  
  .form-actions {
    @include arrow($white, 0.4em, 0.5em);
    .form-submit {
      background: transparent;
      text-transform: none;
      padding: 0;
      border: none;
      font-family: $optisport;
      @include adjust-font-size-to( 1.8 * $base-font-size );line-height: 1em;
      
    } 
  }
}

/**
 *   Firefox fix
 */
@-moz-document url-prefix() { 
  #block-webform-client-block-25 {
    .webform-component-email {
      padding-bottom: 8px;
    }
    #edit-actions--2 {
      top: -10px
    }
  }
}
.js {
  #block-webform-client-block-25 
  .webform-component-email,
  #block-webform-client-block-532 
  .webform-component-email,
  #block-search-form 
  .form-item-search-block-form
   {
      label {position: absolute;}
      label.dim {opacity:.7;}
  }
}
//end newsletter block

//add this css


/* AddThisEvent */
.addthisevent-drop            {display:inline-block;position:relative;z-index:999998;font-family:arial;color:#333!important;background:#f4f4f4 url('../images/icon-calendar-t1.png') no-repeat 9px 50%;text-decoration:none;border:1px solid #d9d9d9;color:#555;font-weight:bold;font-size:14px;text-decoration:none;padding:9px 12px 8px 35px;-moz-border-radius:2px;-webkit-border-radius:2px;}
.addthisevent-drop:hover        {border:1px solid #aab9d4;color:#555;font-weight:bold;font-size:14px;text-decoration:none;}
.addthisevent-drop:active         {top:1px;}
.addthisevent-selected          {background-color:#f7f7f7;}
.addthisevent_dropdown          {width:200px;position:absolute;z-index:99999;padding:6px 0px 0px 0px;background:#fff;text-align:left;display:none;margin-top:-2px;margin-left:-1px;border-top:1px solid #c8c8c8;border-right:1px solid #bebebe;border-bottom:1px solid #a8a8a8;border-left:1px solid #bebebe;-moz-border-radius:2px;-webkit-border-radius:2px;-webkit-box-shadow:1px 3px 6px rgba(0,0,0,0.15);-moz-box-shadow:1px 3px 6px rgba(0,0,0,0.15);box-shadow:1px 3px 6px rgba(0,0,0,0.15);}
.addthisevent_dropdown span       {width:175px;display:block;line-height:110%;background:#fff;text-decoration:none;font-size:12px;color:#6d84b4;padding:8px 10px 9px 15px;}
.addthisevent_dropdown span:hover     {background:#f4f4f4;color:#6d84b4;text-decoration:none;font-size:12px;}
.addthisevent span            {display:none!important;}
.addthisevent-drop ._url,.addthisevent-drop ._start,.addthisevent-drop ._end,.addthisevent-drop ._summary,.addthisevent-drop ._description,.addthisevent-drop ._location,.addthisevent-drop ._organizer,.addthisevent-drop ._organizer_email,.addthisevent-drop ._facebook_event,.addthisevent-drop ._all_day_event {display:none!important;}
.addthisevent_dropdown .copyx       {width:200px;height:21px;display:block;position:relative;cursor:default;}
.addthisevent_dropdown .brx       {width:180px;height:1px;overflow:hidden;background:#e0e0e0;position:absolute;z-index:100;left:10px;top:9px;}
.addthisevent_dropdown .frs       {position:absolute;top:5px;cursor:pointer;right:10px;padding-left:10px;font-style:normal;font-weight:normal;text-align:right;z-index:101;line-height:110%;background:#fff;text-decoration:none;font-size:9px;color:#cacaca;}
.addthisevent_dropdown .frs:hover     {color:#6d84b4;}
.addthisevent               {visibility:hidden;}

