/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";


.node { /* Node wrapper */
  @include adjust-font-size-to(0.9 * $base-font-size);
  .field-name-field-standfirst {
     
     .field-item > p:first-of-type, .field-item > div:first-of-type, .field-item  > h2:first-of-type {
       margin-top: 0;
     }
     .media-element {margin: 0;}
  }
  .field-name-body {
    p:first-of-type, h2:first-of-type {
       margin-top: 0;
    }
    .highlight-caption, .highlight {
      a {color: $white;}
    }
  }
  
  /* Node Styles */
  p {margin: 1em 0;}
  h2 {text-transform: uppercase; @include adjust-font-size-to(1.1 * $base-font-size);margin: 1em 0 0 0;
    letter-spacing: 1px;
  }
  .medium-grid {
    img {width: 100%;}
    @include breakpoint(tablet) {
      clear: both;
      
      @include span-columns(8 omega,6); @include pull(2,6,right);
      & > div {
        @include span-columns(4,8);
        margin-bottom: 1.5em;
      }
      & > div:nth-of-type(even) {@include omega;}
    }
    
  }
  .highlight-caption, .highlight {
    font-family: $georgia;
    line-height: 1.25em;
    em {font-style: normal;}
    background: $yellow;color: $white; 
    @include border-bottom-radius; 
    margin: 0 0 -1.75em 0; 
    padding: 0.75em 1.5em 1.5em 1.5em;
    position: relative; top: -1.75em;
    h2 {color: $white;}
    a {
      color: $white;
    } 
    a.highlight-link {
      text-transform: uppercase; font-family: $avenir-bold;
      letter-spacing: 1px;
      @include arrow($white,0.4em,0.35em);
    }
  }
 
  .highlight {
      @include border-radius;
  }
  blockquote {font-family: $georgia;}
  .left, .right, .highlight-caption {
    p {margin: 0.5em 0;}
  }
  
  /* Node layouts */
  @include breakpoint(tablet) { 
    .left,
    .right {
      @include span-columns(4 omega,6); margin-left: 1em; @include pull(2,6,right);
      img {width: 100%;}
    }
    .right-small {@include span-columns(2 omega,6); margin-left: 1em; @include pull(4,6,right);}
    .center {text-align: center; & > div {display: inline-block;}}
  }
  
  .clear {clear: both;}
  
  .no-margin {margin: 0; div, img, p {margin: 0;}}
  .no-margin-top {margin-top: 0; div, img, p {margin-top: 0;}}
  .highlight {
    margin-top: 3.5em;
    padding: 0.75em 1.5em 1.5em 1.5em;
    h2 {
      color: $white;margin: 0; padding-bottom: 0;
    }
    p, h2, div, ul, ol {
      margin: 0 1em;
      &:first-child {padding-top: 1em;}
      &:last-child {padding-bottom: 1em;}
    }
  }
  
  .preview & { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

  .node-title { /* Node title */
    
  }

  .user-picture { /* The picture of the node author */
  }

  .submitted { /* The "posted by" information */
  }

  .content { /* Node's content wrapper */
  }

  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
  }

}

.rounded-standfirst {
  .field-name-field-standfirst {
    img {@include border-radius(6px);}
  }
}

.section-good-stuff 
.node {
  .highlight-caption {
    background: $blue;
  }
  h2 {color: $blue;}
}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
  
}

.node-article { /* Article content node */
  
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }

}


/*
 * About us styles 
 */

.section-about-us {
  #content {
    .field-name-field-summary {
      @include adjust-font-size-to(1.05 * $base-font-size);
      margin-bottom: 1em;
    }
    
    .field-name-body {
      p:first-of-type {margin-top: 0;}
      a {color: $yellow;}
      .board-members {
        list-style-type: none;
        margin: 0; padding: 0;
        clear: both;
        li {
          height: 195px;
          @include span-columns(2,6);
          &:nth-of-type(3n){@include omega;}
        }
      }
    }
    @include breakpoint(tablet) {
      .field-name-body {
        @include span-columns(6,8);
        @include adjust-font-size-to(0.9 * $base-font-size);line-height: 1.2em;
      }
      #block-block-34, #block-block-29 {
        padding-top: 0.5em;
        @include span-columns(4,8); 
        .flash {
          .flash-container {
          border: 1px $gold solid;
          @include border-top-radius(6px);
          padding: 1em 0 0 1em;}
        }
        .highlight-caption {
          background: $yellow;
          @include adjust-font-size-to(0.9 * $base-font-size);
          line-height: 1em;
          color: $white; padding: 0.75em;
          @include border-bottom-radius(6px);
          margin-top: -0.1em;
        } 
      }
      #block-block-34 {
        @include omega;
        p {margin: 0;}
        .video-wrap {
          padding-top: 0 !important;
          height: 247px;
        }
      }
    }
    .highlight {
      background: $yellow;
      h2 {color: $white;}
      a {color: $white; &:hover {color: $white;}}
    }
    h2 {color: $yellow; } 
    
  }
  
  #block-block-30 {
    clear: both;
    padding-top: 1em;
  }
}

.standard-page {
 @extend .section-about-us; 
} 


/*
 * Styles for homepages and taxonomy list pages
 */

.home-pages,
.page-taxonomy-term,
.page-views,
.page-node
{
  @include breakpoint(tablet) {
    h1#page-title {
      color: $gold;
      font-family: $optisport;
      text-transform: none;
      @include adjust-font-size-to(2.5 * $base-font-size);
    } 
  }
}


/*
 * Recipe content
 * - section wide
 * - homepage 
 * - Taxonomy pages
 * - node pages
 */

.section-recipes {
  #page-title, 
  .sidebars .block-title {
    color: $pink;
  }
  .block-block {
    a {color: $pink;}
  }
}

/*
 * Recipe homepage styles
 */
.page-node-354 {
  #block-views-nodequeue-3-block {
    .views-row {
      img {
        width: 100%;
        @include border-radius(8px);
      }
      margin-bottom: 1em;
    }
  }
  #content .block-block {
    clear: both;
    h2 {
      text-transform: uppercase;
      font-family: $avenir-bold;
      letter-spacing: 1px;
      @include adjust-font-size-to(0.8 * $base-font-size);
      line-height: 1em;
      color: $pink;
    }
    a.highlight-link {
      font-family: $optisport;
      color: $pink;
      @include adjust-font-size-to(1.2 * $base-font-size);
      @include arrow($pink,0.35em,0.35em);
    }
    img {
      float: right;
      margin: -1.5em 0 0 1.5em;
    }
  }
  @include breakpoint(tablet) {
    #block-views-nodequeue-3-block .views-row {
      @include span-columns(4,8);
      &.views-row-even {@include omega;} 
    }
    #content .block-block {
      clear: none;
      @include box-sizing(border-box);
      border-top: 1px $gold dashed;
      width: columns(4,8) + gutter()/2;
      padding-top: 1em;
      margin-bottom: 0;
      &.even {
        float: left;
        padding-right: gutter();
        margin-right: 0;
      }
      
      &.odd {
        float: right;
        margin-right: 0;
        margin-right: 0;
        padding-left: gutter();
      }
    }
    
  }
  #block-views-recipes-block-1 {clear: both;}
  
}

/*
 * Recipe taxonomy list styles
 */
.page-taxonomy-term.section-recipes {
  .views-field-field-recipe-image {
    line-height: 0;
    a {display: block;}
  }
  .view-content img {
    @include border-radius(8px);
  }
  .views-field-title {
    text-transform: uppercase; margin: 0.25em 0 0 0;
    letter-spacing: 1px;
    @include adjust-font-size-to(0.85 * $base-font-size);
    line-height: 1em;
  }
  .views-field-title a, .views-field-view-node a {color: $pink;}
  .views-row {margin-bottom: 0.75em;}
  
  .views-field-field-recipe-teaser {
    @include adjust-font-size-to(0.75 * $base-font-size);
    line-height: 1.4em;
    color: $brown;
    letter-spacing: 0em;
  }
  .views-field-view-node {
    @include adjust-font-size-to(1.4 * $base-font-size);
    line-height: 1em;
    a {
      @include arrow($pink, 0.25em,0.4em);
      font-family: $optisport;
      letter-spacing: 0em;
    } 
  }
  .attachment-before, .view-display-id-featured_block {
    margin-bottom: 0.5em;
    @include adjust-font-size-to(1.35 * $base-font-size);
    line-height: 1em;
    .views-field-field-recipe-teaser {
      @include adjust-font-size-to(0.65 * $base-font-size);
      line-height: 1em;
    }
    .views-field-view-node {
      @include adjust-font-size-to(1 * $base-font-size);
      line-height: 1em;
    }
  }
  @include breakpoint(tablet) {
    .list-view > .view-content .views-row {
      margin-bottom: 0; padding-bottom: 0.75em;
      
      &.views-row-odd {
        clear: both;
        @include box-sizing(border-box);
        float: left;
        width: columns(4,8) + gutter()/2;
        padding-right: gutter();
        margin-right: 0;
        border-right: 1px $gold dotted;
      }
      &.views-row-even {
        @include box-sizing(border-box);
        float: right;
        width: columns(4,8) + gutter()/2;
        margin-right: 0;
        margin-right: 0;
        padding-left: gutter();
        .wrapper .views-field-title {
          @include adjust-font-size-to(1* $base-font-size);
          line-height: 1em;
        }
      }
    }
    
    #views_infinite_scroll-ajax-loader {
      clear: both;
      margin: 0 1em;
    }
    .pager {padding-top: 1.5em;}
    
  }
  
}


/*
 * Recipe node styles
 */
.node-type-recipe {
  h1#page-title {
    text-transform: uppercase;
    @include adjust-font-size-to(1.45 * $base-font-size);
    font-family: $avenir-bold;
    color: $brown;
  }
  .field-name-field-recipe-image {
     
    img {
      width: 100%; @include border-radius(6px);
    }
  }
  .field-name-field-standfirst-recipe {
    @include adjust-font-size-to(0.95 * $base-font-size);
    color: $brown;
    margin: 0.75em 0 1em 0;
  }
  //ingredients
  .field-collection-container {
    padding: 0;
    margin-bottom: 2em;
    & > div, & > h2 {
      padding: 0 1em;
    }
    @include adjust-font-size-to(0.95 * $base-font-size);
    
    .field-label {
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: 16px;
      font-weight: normal;
      font-family: $avenir-bold;
    }
    .field-collection-view {
      margin: 0; padding: 0;
      .field-name-field-group-ingredients {
        font-family: $avenir-bold;
        margin-top: 0.5em;
      }
      ul {list-style-type: none; padding: 0; margin: 0 0 1em 0; 
        li{
          margin-bottom: .5em;
          a {color: $white; text-decoration: none; font-family: $avenir-bold;}
        }
      }
      
    }
    
    
  }
  .field-name-field-body-recipe {
    color: $brown;
    .field-items {
      padding-left: 1em;
      .field-item {
        @include adjust-font-size-to(0.8 * $base-font-size);
        line-height: 1.25em;
        h3 {
          color: $pink;
          @include adjust-font-size-to(1.2 * $base-font-size);
          line-height: 1em;
          border-top: 1px $pink dotted;
          margin-left: -1em;
          text-indent: 1em;
          padding-top: 0.75em;
        }
        ol {padding: 0; margin-left: 0.5em;}
        p, div, li {padding-bottom: 0.75em;}
      }
    }
  }
  
  @include breakpoint(tablet) {
    .field-collection-container {
    @include span-columns(3,7);
    }
    
    .field-name-field-body-recipe {
      @include span-columns(4 omega,7);
    }
  }
  
  @include breakpoint(desktop) {
    .field-collection-container {
    @include span-columns(4,8);
    }
    
    .field-name-field-body-recipe {
      @include span-columns(4 omega,8);
    }
  }

}
//js only
.js .field-name-field-body-recipe ol {
  color: $pink;
  font-family: $avenir-bold;
  span {
    color: $brown; font-family: $avenir;
    position: relative; left: -0.5em;
  }
}



/*
 * Blog section styles
 * - section wide styles
 * - homepage
 * - list pages
 * - node page
 */



/*
 * Blog homepage styles
 */
.page-node-348 {
  @extend .page-taxonomy-term.section-recipes;
  
  
  .views-field-title a{
    color: $blue;
    div {display: inline;}
  }
  .views-field-view-node a {
    color: $blue;
    @include arrow($blue,0.25em,0.4em);
  }
  //.views-field-view-node {a{font-family: $optisport; font-size: 1.6em;}@include arrow($blue, 0.25em);line-height: 1.5em;}
  .views-field-field-teaser {@extend .views-field-field-recipe-teaser;}
  .view-display-id-block_1 {
    @extend .attachment-before;
    .views-field-disqus-comment-count {
      @include adjust-font-size-to(0.8 * $base-font-size);
      line-height: 1em;
    }
  }
  #block-views-blog-roll-view-block-2 .block-title {
    //display: none; 
    background: $blue;
    color: $white;
    padding: 0.3em 0.5em;
    margin-bottom: 0.5em;
    @include border-radius(4px);
    
  }
  .views-field-field-blog-featured-image img {
    @include border-radius;
    border: 1px lighten($gold, 30%) solid;
  }
  .views-field-disqus-comment-count {
    a {
      background: url('../images/symbols/comment.png') no-repeat left;
      padding-left: 1.4em;
      padding-bottom: 2px;
      font-family: $avenir;
      color: $grey;
      @include adjust-font-size-to(0.7 * $base-font-size);
    }
  }
}

@include breakpoint(tablet) {
  .view-display-id-blog__list__news, 
  .view-display-id-blog__list__competitions, 
  .view-display-id-blog__list__events,
  #block-views-blog-roll-view-block-2 {
    
  }
  
}

.section-good-stuff.page-views {
  @extend .page-node-348;
  
}


/*
 * Blog nodes
 */
.node-type-blog-general, .node-type-blog-competition, .node-type-blog-event {
  h1#page-title {
    text-transform: uppercase;
    @include adjust-font-size-to(1.45 * $base-font-size);
    font-family: $avenir-bold;
    color: $brown;
  }
  .field-name-field-blog-featured-image img {@include border-radius(8px);}
  
  .field-name-field-summary {
    @include adjust-font-size-to(1.05 * $base-font-size);
    margin-bottom: 1em;
  }
  
  .field-name-body {
    p:first-of-type {margin-top: 0;}
    a {color: $blue;}
  }
  @include breakpoint(tablet) {
    .field-name-body {
      @include span-columns(6,8);
      @include adjust-font-size-to(0.9 * $base-font-size);line-height: 1.2em;
    }
  } 
}
.node-type-blog-competition {
  #content {
    form {margin-top: 2em;}
  }
}

.node-type-blog-event {
  .event-highlight {
    padding: 1em;
    background: $blue;
    color: $white;
    @include border-radius;
    .field-name-field-summary {
      margin-bottom: 0;
    }
    .event-details-group {
      @include span-columns(4,8);
     
     .fn, .field-name-field-event-date {
       font-family: $avenir-bold;text-transform: uppercase; @include adjust-font-size-to(1.2 * $base-font-size);
       letter-spacing: 1px;
     } 
     .fn {
        @include adjust-font-size-to(1.6 * $base-font-size);
     }
    }
  }
  .field-name-field-summary {
    @include span-columns(4 omega,8);
  }
  .field-name-body {
    clear: both;
  }
}


/*
 * Author page
 * 
 */

.section-people {  
  @extend .page-node-348;
  h2.block-title {    
    color: $white !important;
    text-indent: 0.5em;
    @include border-radius(6px);
    background: $gold url("../images/wrapper/adinkra-small.png") no-repeat;
    background-position: right -157px;
    margin: 0.5em 0;
    padding: 0.2em;
  }
  .Recipe {
    a {color: $pink;}
    &.views-field-view-node a {
      @include arrow($pink,0.25em, 0.4em);
    }
  }
  .view-quote-sidebar {
    @include adjust-font-size-to(1 * $base-font-size);
  }
  @include breakpoint(tablet) {
    .field-name-field-author-image {
      img {@include border-radius;}
      @include span-columns(2,8);
    } 
  }
}
/*
 * Shop & product styles 
 * - product level styles
 * - Product lists
 * - front page carosel
 * - homepage
 */

.product-list, .view-product-catalog, .node-type-product-display, .view-shop-items-on-recipe {
  .views-row {
    border-bottom: 1px dotted $gold;
    &.views-row-last {border-bottom: none;}
  }
  .views-field-field-image-1 {
    text-align: center; 
  }
  .views-field-title, .views-field-line-item-title {
    text-transform: uppercase; letter-spacing: 1px;
    font-family: $avenir-bold;
    @include adjust-font-size-to(0.8 * $base-font-size);line-height: 1em;
    
  }
  .field-name-field-description {
    line-height: 1em;
  }
  .views-field-commerce-unit-price {
    color: $brown; font-family: $avenir-bold; line-height: 1.25em;
  }
  .views-field-quantity {
    @include adjust-font-size-to(1 * $base-font-size);
    color: $gold;
    font-family: $avenir-bold;
  }
  .views-field-commerce-total {
    @include adjust-font-size-to(0.8 * $base-font-size);
    color: $grey;
    font-family: $avenir-bold;
    margin-bottom: 0.5em; 
    .field-content {display: inline;}
  }
  .field-type-commerce-price, .views-field-commerce-price {
    td {display: inline-block;}
    .commerce-price-savings-formatter-price .price-amount {
      color: $brown;
      
    }
    
    .commerce-price-savings-formatter-list {color: $grey;}
    font-family: $avenir-bold;
    color: lighten($black,15%);
    @include adjust-font-size-to(1 * $base-font-size);
  }
  .views-field-view-node {
    display: inline;
    a {
      @include arrow($green,.25em,0.4em);
      @include adjust-font-size-to(1.4 * $base-font-size);
      font-family: $optisport;
      color: $green;
      text-decoration: none;
    }
  }
  .field-name-field-nutritional-information {
    clear: both;
    margin: 0 0 0.75em 0;
      .field-item {
        text-indent: -200%;
        overflow: hidden;
        background-repeat: no-repeat;
        height: 2.6em;
        &.even {
          background-image: url('../images/symbols/shop/vegitarian.png');
        }
        &.odd {
          background-image: url('../images/symbols/shop/free-from.png');
        }
      }
  }
  .field-name-field-additional-information, .field-collection-container, .field-name-field-ingredients {
    border-bottom: none;
    margin:0;
    .field-label {
      width: 100%;
      font-weight: normal;
      font-family: $avenir-bold;
      text-transform: uppercase;
      color: $gold;
    }
    .field-item {
      margin:0;
      p {
        &:first-of-type {margin-top: 0;}
        @include adjust-font-size-to(0.9 * $base-font-size);
      }
    }
    .field-collection-view {
      margin: 0;padding: 0;
    }
  }
  .field-collection-container, .field-name-field-ingredients {
    .field-label {
      @include arrow($gold,0.4em,0.45em);
      cursor: pointer;cursor: hand;
    }
  }
}

/*
 * Product lists
 */
.section-checkout,
.section-cart,
.section-shop {
  .views-field-field-offers, .field-offers, .views-field-field-shipping-offer, .views-field-field-out-of-stock, .field-out-of-stock, .views-field-field-new-addition {
    
    position: relative;
    top: -12.85em;
    margin-bottom: -10em;
    height: 10em;
    text-indent: -200%;
    overflow: hidden;
    margin-right: -0.8em;
    div, a {
      width: 100%;
      height: 100%;
      display: block;
      background-repeat: no-repeat;
      background-position: top left;
    }
    .product-offer-13 {
      background-image: url('../images/symbols/shop/10-per-cent-off.png');
    }
    .product-offer-15 {
      background-image: url('../images/symbols/shop/new.png');
    }
    .product-offer-17 {
      background-image: url('../images/symbols/shop/bogof.png');
    }
    .product-offer-16 {
     // background-image: url('../images/symbols/shop/free-delivery.png');
    }
    .product-offer-18 {
      background-image: url('../images/symbols/shop/divine-loves.png');
    }
    
    .product-offer-19 {
      background-image: url('../images/symbols/shop/bestseller.png');
    }
    .product-offer-20 {
      background-image: url('../images/symbols/shop/sold-out.png');
    }
  }
  
  
  .view-product-catalog, .product-list {
    
    table.views-view-grid {
      width: 100%;
      & > tbody > tr {
        display: block;
        & > td {
          display: block;
          text-align: center;
          border-bottom: none;
          margin-bottom: 0;
          
          .views-field-title {
            margin-bottom: 0.3em;
            
          }
          
          .views-field-field-image.No {
            opacity: 0.5;
          }
          .views-field-commerce-price {
            table {
              display: block;
              tbody, tr {
                display: block;
                td {
                  display: inline-block;
                }
              }
            }
            
          }
          
          .views-field-add-to-cart-form {
            &.Out-of-stock, &.Out-of-season {padding-top: 3.2em;}  
          }
          .form-item-quantity {
            @include adjust-font-size-to(1 * $base-font-size);
          }
          @include span-columns(3,6);
          &.views-row-even {@include omega;}
        }
      }
    }
    
    
    @include breakpoint(tablet) {
      table.views-view-grid > tbody > tr {
        clear: both; 
        border-bottom: 1px dashed $gold;
        & > td {
          &.views-row-even {float: left;}
          border-left: 1px dashed $gold;
          @include box-sizing(border-box);
          float: left;
          width: columns(2,8) + (gutter()*1.1);
          margin: 1.5em 0;
          padding: 0 gutter();
          .views-field-title {
            height: 2.9em; 
            overflow: hidden;
            line-height: 1em;
          }
          &.views-row-first,
          &:first-child {
            border-left: none;
            clear: both;
          }
        }
      }
    }  
      
  }
}

/*
 * Product display
 */

.node-type-product-display {
  #main {
    padding-top: 0.75em;
  } 
  .sidebars {
    padding-top: 25px;
  }
  h1#page-title {
    text-transform: uppercase;
    font-family: $avenir-bold;
    color: $brown;
    @include adjust-font-size-to(1.45 * $base-font-size);line-height: 1em;
  }
  .field-name-field-description p {margin: 0;} 
  .views-field-field-offers, .field-out-of-stock, .field-offers, .views-field-field-shipping-offer, .views-field-field-new-addition {
    margin-right: 2em;
    margin-bottom: -11em;
    height: 11em;
    top:0;
    & > div {background-size: 38%;}
  }
  .field-name-commerce-price {
    @include adjust-font-size-to(1.35 * $base-font-size);
    
    td {display: block;float: right;}
  }
  .field-name-field-product-quote {
    background: $gold;
    padding: 1em;
    margin: 1em 0;
    color: $white;
    @include border-radius;
    .node-title {display: none;}
    .field-name-field-quote-text {
      font-family: $georgia;
      
    }
  }
  
  @include breakpoint(desktop) {
     
    .product-display-image {
      @include span-columns(4,8);
    }
  
    .wrapper {
      @include span-columns(4 omega, 8);
      padding-top: 25px;
      
      .field-name-commerce-price, .form-item-quantity {
        clear: both;
      }
      .form-item-quantity {
        clear: left;
        margin: 0.5em 0; 
      }
      .buy-now {
        clear: both;
        position: relative;
        margin:0.5em 0; 
        max-width: 8em;
      }
      &.disabled .buy-now {
        top: 0;
        margin-top: 0.5em;
      }
      
    }
    
  }
}

/*
 * Front page product carousel
 */
.front .view-product-catalog {
  
  font-family: $avenir-bold;
  text-align: center;
  
  
  .views-field-title a {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: $brown;
    @include adjust-font-size-to(1 * $base-font-size);
    line-height: 1.1em;
  }
  .views-field-field-price,
  .views-field-commerce-price {
    @include adjust-font-size-to(0.8 * $base-font-size);
  }
  
  .views-field-field-product-link-1 a,
  .views-field-view-node a {
      
      @include arrow($green,.25em,0.4em);
      @include adjust-font-size-to(1.4 * $base-font-size);
      font-family: $optisport;
      color: $green;
      text-decoration: none;
     
  }
  
  .views-field-field-product-link-1,
  .views-field-field-price,
  .views-field-commerce-price,
  .views-field-view-node {
    display: inline-block;
  }
  @include breakpoint(tablet) {
    .views-row {
      @include span-columns(3,6);
      & .views-row-even {@include omega;}
      border-bottom: none;
    }
  }  
  @include breakpoint(desktop) {
    .view-content {@include adjust-font-size-to(0.6 * $base-font-size);}
   
    .views-row {@include span-columns(1,5); @inlclude remove-omega;}
    .views-row-last {@include omega;}
  }

}

@include breakpoint(desktop) {
  .js .front #block-views-94f03c568041a24aa980b8a94d416d69 {
      border-bottom: 1px $gold dashed;
  }
  .js .front .view-product-catalog {
    padding-top: 0.8em;
    min-height: 13em;
    .view-content {
      @include adjust-font-size-to(1 * $base-font-size);
      line-height: 1em;
      
      .views-field-field-product-image,
      .views-field-field-image {
        
        img {
          width: 85%;
          position: relative;
        }
      }
      .wrapper {
        position: inherit;
        top: 0; left: 0;
        width: 100%;
      }
      .highlight .wrapper {
        
        position: relative;
        top: -1.5em;
        left: -2.25em;
        width: 10em;
        .views-field-title {
          display: block;
          max-height: 2em;
          overflow: hidden;
        }
        .views-field-field-product-image,
        .views-field-field-image {
           img {margin-left: 12px;}
        }  
        .views-field-field-price,
        .views-field-field-product-link-1,
        .views-field-commerce-price,
        .views-field-view-node {
          display: inline-block;
        }
      }
     
      .views-field-title,
      .views-field-commerce-price,
      .views-field-field-price,
      .views-field-field-product-link-1,
      .views-field-view-node {
         display: none;
       }
    }
  }
}

/*
 * Shop Homepage
 */
.page-node-423 {
  .field-name-field-standfirst img {
    border-bottom: 1px dashed $gold;
  }
  @include breakpoint(tablet) {
    #block-views-sidebar-blocks-block-4 {
      .views-row {
        @include span-columns(2,8);
      }
      .views-row-last {@include omega;}
    }
  }
}
// end product content



/*
 * cart
 */
.cart-summary {
  clear: both;padding-top: 1em;
  .views-view-grid {width: 100%;}
  @include breakpoint(tablet) {
    .views-row {
      clear: both;
      border-top: 1px dashed $gold;
      padding-top: 1em;
      &.views-row-first{border-top: none;}
      .views-field-field-image {
        @include span-columns(1,8); 
      }
      .line-item-detail {
        @include span-columns(5,8);
        .delete-line-item {
          background: transparent;
          color: $brown;
          text-transform: none;
          @include adjust-font-size-to (0.8 * $base-font-size);
          padding: 0;
          font-family: $avenir;
        }
      }
      .views-field-edit-quantity, .views-field-quantity {
        @include span-columns(1,8);
      }
      .views-field-commerce-unit-price {
        @include span-columns(1 omega,8);
        text-align: right;
      }
    }
    .line-item-summary, .view-footer {
      clear: both;
      .commerce-price-formatted-components {
         @include span-columns(2 omega,8);
         tbody {border: none;}
         tr { 
          border: none;
          color: $gold;
           .component-title {
             font-weight: normal;
             text-transform: uppercase;
             font-family: $avenir-bold;
           }
           .component-total {
             font-weight: normal;
           }
           &.component-type-commerce-price-formatted-amount {
             color: $brown;
           }
           
          
         }
      }
    }
  }
}

/*
 * Checkout
 */

.section-checkout, .section-cart {
  #page-title {display: none;} 
}
.section-checkout {
  #content form {
    clear: both;
    padding-top: 1em;
  }
  fieldset {
    border: none;
    margin: 0;
    clear: both;
  }
  legend {text-transform: uppercase; font-family: $avenir-bold;padding:1em 0 0 0; }
  .form-item {
    margin: 0.5em 0;
    label {font-family: $avenir; text-transform: none;}
  }
  .checkout-continue {
    background: $green;
    display:block;
  }
  .cart_contents {
    border-bottom: 1px dashed $gold;
  }
  .checkout-cancel {color: $brown;}
  .customer_profile_billing, .commerce_mailchimp {
    label {@include adjust-font-size-to(0.75 * $base-font-size);}
    
  }
  .commerce_mailchimp legend {
    display: none;
  }
  @include breakpoint(tablet) {
    .commerce_shipping, .commerce_payment {
      clear: none; padding: 0; margin: 0;
      @include span-columns(4,8);
    }
    .commerce_shipping  {   
      @include omega;
      text-align: right;
    } 
  }
}

/*
 * About section styles
 * - section wide styles
 */
.section-about-us, .section-trade {
  img {
    @include border-radius(6px);
  }
}

/*
 * Sitesearch
 */
.searchhead {
  margin-top: 0.75em;
  @include adjust-font-size-to(0.8 * $base-font-size);
  border-bottom: 1px dashed $gold;
  ul, li {list-style: none; display: inline; margin: 0; padding: 0;
    a {padding: 0 0.25em;color: $gold;}
  }
}
.google-search-results {
  @include breakpoint (tablet) {
    @include span-columns(6,8);
    .gss-result {
      clear: both;
      img {
        float: right;
      }
    }
  }
  .gss-result {
    border-bottom: 1px dashed $gold;
  }
  h3 {
    @include adjust-font-size-to(1.3 * $base-font-size);
    font-weight: normal;
    a {
      color: $brown;
      b {color: $yellow;font-weight: normal;}
    }
  }
  .gss-search-snippet {
   
    @include adjust-font-size-to(0.8 * $base-font-size);
    b {color: $yellow;}
  }
  
  .gss-search-url {
    clear: both;
    a {
      @include adjust-font-size-to(0.75 * $base-font-size);font-family: $avenir;color: $gold;font-style: normal;font-weight: normal;
    }
  }
}
.google-search-pager {
  clear: both;
  padding-top: 1em;
}

/*
 * Press Page styles
 */
.page-node-318 {
  @include breakpoint(desktop) {
    #content .field-name-body {
      @include span-columns(4,10);
      @include adjust-font-size-to(1.1 * $base-font-size);
    }
    form {
      @include span-columns(4 omega,10);
    }
    .region-content-bottom {
      .block-views, .block-block {
        @include span-columns(5,10);
        h2.block-title {margin-bottom: 1em;}
        .views-row {margin-bottom: 0.5em;}
      }
      #block-views-media-block-1, .last {@include omega;}
      
    }
  }
}
.view-media {
  .views-row {margin-bottom: 1em;}
}

/*
 * Wholesaler styles
 */

.view-wholesalers {
  .views-exposed-widgets {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px $brown dotted;
    label, .views-widget {display:inline-block;}
    label {font-weight: normal; font-family: $avenir-bold; text-transform: uppercase;}
  }
  .views-row {
    margin: 0 1em;
    border-bottom: 1px $brown dotted;
    .views-field-title {
      @include adjust-font-size-to(1.2 * $base-font-size);
      h3 {margin: 0;}
    }
  }
}
